.mproduct {
  display: none;
  flex-direction: column;

  @media only screen and (max-width: 767px) {
    display: flex;
  }
}

.mproduct-title {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 15px 12px;
}

.mproduct-details {
  align-items: center;
  background-color: #026190;
  display: flex;
  padding: 5px 5px;
}

.mproduct-image {
  background-color: #fff;
  border-radius: 4px;
  width: 30%;
}

.mproduct-details-text {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  width: 70%;

  [dir="rtl"] & {
    padding-left: 0;
    padding-right: 5px;
  }
}

.mproduct-long-name {
  border-bottom: 1px solid #0089cc;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 2px;
  padding-bottom: 7px;
}

.mdescription {
  display: flex;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2px 0;
    padding: 0;

    li {
      align-items: flex-start;
      color: #fff;
      display: flex;
      font-size: 12px;
      font-weight: 700;
      margin: 1.5px 0;
      padding: 0;

      img {
        margin-right: 4px;

        [dir="rtl"] & {
          margin-left: 4px;
          margin-right: 0;
        }
      }

      div {
        margin-top: 3px;
      }
    }
  }
}
