# phpstorm project files
.idea

# netbeans project files
nbproject
nbproject/project.xml
nbproject/*

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

#vagrant folder
/.vagrant

*.pem

/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/views/promo.js
/public/css/app.css
/public/css/views/promo.css
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
