.footer-region {
  background-color: #f3f3f3;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 300;
  padding: 27px 0;
}

.footer__row {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;

  @media screen and ($s-down) {
    flex-wrap: wrap;
  }
}

.footer__row-item {
  margin: 10px 0;

  @media screen and ($s-down) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @media screen and ($xxs-down) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  & + &:before {
    color: #6c6c6c;
    content: '\007c';
    padding: 5px 5px;

    @media screen and ($s-down) {
      display: none;
    }
  }
}

.footer__link {
  color: #337ab7;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

.footer-company-address {
  color: #333;
  font-size: 13px;
  padding: 10px 24px;
  text-align: center;
}
