@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }
  to {
    background-position: 0 0
  }
}

@keyframes shadow-drop-center-error {
    0% {
        box-shadow: 0 0 0 0 transparent
    }
    to {
        box-shadow: 0 0 6px 0 rgba(192, 57, 43, 1)
    }
}

[v-cloak] {
  display: none;
}

html {
  scroll-behavior: smooth;
}

*[dir=rtl] {
  .el-input__suffix {
    right: unset;
    left: 5px;
  }
}

header {
  display: flex;

  &.hidden {
    display: none;
  }

  & > .container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  @media screen and ($s-down) {
    & > .container {
      justify-content: center;
    }
  }
}

.fb-icon, .twitter-icon {
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.green-button {
    outline: none;
    border: 1px solid #0f9b0f;
    box-shadow: #b4b5b5 2px 2px 2px;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,.3);
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to bottom, #0f9b0f, #0d840d);
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.green-button:hover {
    background-image: linear-gradient(to bottom,#6d4 0,#3d6c04 100%);
}

.common-popup {
    .el-dialog__header {
        .el-dialog__title {
            font-size: 23px;
        }
    }

    .el-dialog__body {
        font-size: 17px;
    }

    .el-dialog {
        max-width: 955px;
    }
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}

.error {
    color: rgba(192, 57, 43, 1);
}

.error-container {
    color: #a94442;
    background-color: #f2dede;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}

.emc1-popover-date-variant {
    transform: translateY(1px);

    .popper__arrow {
        display: none;
    }
}

.recently-bought {
  border: 1px solid rgba(50, 50, 50, .3);
  padding: 0;

  .el-notification__content {
    margin: 0;
    text-align: left;
  }

  .el-notification__closeBtn.el-icon-close {
    display: none;
  }

  .el-notification__group {
    margin: 0;
    width: 100%;
  }

  @media screen and ($s-down) {
    &.left {
      right: 0;
      left: 0;
      width: 100%;
      border-radius: 0;
    }
  }
}

.el-dialog__header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;

    .el-dialog__title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}

.recently-notice {
  display: flex;
  min-height: 80px;
  font-weight: 700;
  color: #0a0f0a;

  &__left {
    padding: 5px 0;
    width: 33%;
    min-width: 33%;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 80px;
      object-fit: contain;
    }
  }
  &__right {
    flex-grow: 1;
    padding: 10px;

    .red {
      color: #e74c3c;
    }
  }

  &_user-active, &_high-demand {
    height: 66px;

    .recently-notice__left {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #e74c3c;

      i {
        font-size: 40px;
      }
    }
  }

  &_paypal {
    cursor: pointer;
    img {
      width: 120px;
    }
  }

  &_high-demand {
    height: auto;
  }
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease
}

.progress-bar-striped, .progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px
}

.slide-right {
  animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) infinite alternate both
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  background-color: #f3f3f3;
  color: #333;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.white-bg {
    background-color: #fff;
  }
}

p {
  margin: 0;
}

.strike {
  text-decoration: line-through;
}


.bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #0a0f0a;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

.checkbox-variant-1 {
  background-color: transparent;

  &:after {
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #000;
  }
}

.paper {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 7px;
  box-shadow: 1px 1px 1px 1px rgba(214,214,214,.4);
}

/* inputs */
.label-container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media screen and ($s-down) {
    font-size: 16px;
  }
}

.label-container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.label-container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #000;
}

.label-container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.label-container-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* inputs end */
