.footer {
  $self: &;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
  background-color: #363636;
  padding: 27px 0;
  color: white;
  font-size: 16px;
  font-weight: 300;

  &--white {
    background-color: transparent;

    #{ $self }__row {
      justify-content: center;
    }

    #{ $self }__row-item {
      margin-left: 0;
    }

    #{ $self }__row-item + #{ $self }__row-item:before {
      content: '\007c';
      color: #6c6c6c;
      padding: 5px;
      font-size: 16px;

      @media screen and ($s-down) {
        display: none;
      }
    }

    #{ $self }__link {
      color: #337ab7;
      text-decoration: none;
      font-size: 13px;
    }
  }

  &__row {
    margin: auto;
    text-align: center;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 0;

    @media screen and ($xl-down){
      max-width: 800px;
    }
  }

  &__row-item {
    display: inline-block;
    margin: 10px 0;

    @media screen and ($s-down) {
        width: 50%;
    }

    @media screen and ($small-tablet-down) {
        width: 100%;
    }
  }


  &__link {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }

  .company-address {
    padding: 10px 24px;
    text-align: center;
    font-size: 13px;
    color: #333;
  }
}
