.container {
    max-width: 970px;
}

.offer {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.offer p {
    margin: 0;
    font-size: 15px;
    max-width: 440px;
    width: 100%;
    text-transform: uppercase;
}
