body {
  background-color: #fff;
}

.header {
  height: auto;
}

.index__button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ef6129;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.index__button:hover {
  background-color: #bd400e;
}

.index__title {
  margin-top: 50px;
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .index__title {
    margin-top: 30px;
    font-size: 30px;
  }
}

.index__description {
  margin-bottom: 30px;
}

.index__description * {
  color: #8a8a8a;
}

.index__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.index__row {
  margin-bottom: 100px;
}

