.orderTracking {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #a7cfdf 0, #23538a 100%);
}

.orderTracking-header {
  padding: 40px 0;
  text-align: center;
}

.orderTracking-form-wrap {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}

.orderTracking-form {
  margin-bottom: 40px;
  padding: 20px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

.orderTracking-form-title {
  margin: 0 0 10px 0;
  font-size: 36px;
  color: #fff;
}

.orderTracking-form .input-container {
  margin-bottom: 15px;
}

.orderTracking-form label {
  font-weight: bold;
}

.orderTracking-form input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

.orderTracking-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.4s ease;
}

.orderTracking-btn:hover,
.orderTracking-btn:focus,
.orderTracking-btn:active {
  background-color: #286090;
  border-color: #204d74;
  opacity: 0.75;
}

.orderTracking-btn:disabled {
  background-color: #286090;
  border-color: #204d74;
  opacity: 0.5;
  cursor: not-allowed;
}

.orderTracking-action {
  display: flex;
  justify-content: flex-end;
}

.orderTracking-action .btn {
  display: inline-block;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 30px 10px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease;
}

.orderTracking-action .btn:hover,
.orderTracking-action .btn:focus,
.orderTracking-action .btn:active {
  background: rgba(255, 255, 255, 0.8);
  color: #246bb2;
}

.orderTracking-iframe {
  width: 100%;
  height: 100%;
}

.orderTracking-footer .footer__link {
  color: #ffffff;
}

