.promo {
  font-size: 15px;
  text-align: center;
}

.promo .promo-title-big {
  font-size: 38px;
}

@media screen and (max-width: 959px) {
  .promo .promo-title-big {
    font-size: 22px;
  }
}

.promo .border-dashed {
  border: 5px dashed red;
  max-width: 1100px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
}

.promo .text-red {
  color: red;
}

.promo .heading-battery {
  font-size: 38px;
  margin: 0 0 10px;
}

.promo .offer {
  margin: 15px 0;
}

.promo .double-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #c1c1c1;
  margin-bottom: 6px;
}

.promo .section-subtitle {
  font-size: 19px;
  font-weight: 300;
  text-align: center;
}

.promo .go-to-selector {
  text-decoration: none;
  color: red;
}

.promo .price {
  font-size: 24px;
}

.promo .section-subtitle {
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  margin: 20px auto 20px;
}

.promo .card {
  max-width: 360px;
  width: 100%;
  border: 3px solid transparent;
  min-height: 490px;
  border-radius: 10px;
  box-shadow: 3px 2px 15px -5px rgba(0, 0, 0, 0.49);
  text-align: center;
  margin: auto;
  transition: 0.2s all;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.promo .selected-promotion {
  border: 3px solid #598be8;
}

.promo .selected-promotion .product-info {
  margin: 20px;
}

.promo .product-info {
  padding: 0 15px 0;
}

.promo .card.starter:hover {
  border: 3px solid #6fb1e1;
}

.promo .card.most-profitable:hover {
  border: 3px solid #fbaf5d;
}

.promo .card.most-popular:hover {
  border: 3px solid #4ec314;
}

.promo .card .heading {
  max-width: 158px;
  margin: auto;
  display: flex;
  justify-content: center;
  transform: skewX(20deg);
  background-color: #6fb1e1;
  color: white;
}

.promo .card .heading.most-profitable {
  background-color: #fbaf5d;
}

.promo .card .heading.most-popular {
  background-color: #4ec314;
}

.promo .card .heading strong {
  font-size: 16px;
  font-weight: 600;
  transform: skewX(-20deg);
}

.promo .started-img {
  margin: 0;
  max-width: 225px;
}

.promo .multi-prod-sec {
  font-size: 19px;
  text-align: center;
  max-width: 1130px;
  margin: 10px 0;
}

.promo .discount {
  width: 200px;
  margin: 0 auto;
  padding: 8px 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.promo .fifty-discount {
  font-size: 21px;
  margin: 2px;
}

.promo .green-button-animated {
  padding: 14px;
  height: auto;
}

.promo .reviews {
  margin-bottom: 30px;
}

.promo .review {
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.promo .review .review-text {
  text-align: left;
}

@media screen and (max-width: 959px) {
  .promo .review .section-text {
    text-align: center;
  }

  .promo .review {
    width: 100%;
    flex-direction: column;
  }
}

.promo .reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 959px) {
  .promo .reverse {
    flex-direction: column;
  }
}

.promo .reverse .review-text {
  text-align: right;
}

.promo .feedback-vmp41 img {
  max-width: 85%;
  border-radius: 50px;
  margin: 0 auto;
  width: auto;
  max-height: 80px;
}

.promo .review .stars .fa {
  color: #fbd401;
  font-size: 26px;
}

.promo .review .title {
  font-size: 19px;
  font-weight: bold;
  color: black;
  background: transparent;
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 20px;
}

.promo .footer {
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
  background-color: #363636;
  padding: 27px 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.promo .footer .footer-row {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-align: center;
  list-style: none;
}

.promo .footer li a {
  color: white;
  text-decoration: none !important;
  font-weight: 500;
}

.promo .people-rate {
  padding-bottom: 30px;
}

.promo .scroll-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: #e2f1f3;
  padding-bottom: 50px;
}

.promo .scroll-to-top .green-button-animated {
  max-width: 430px;
}

.promo .select-variant {
  background-color: #4ec314;
  padding: 20px 0;
  font-size: 28px;
  color: white;
  margin: 24px 0;
}

.promo .carousel-img {
  width: 100%;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.promo .people-rate-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo .carousel {
  margin: 10px 0;
}

.promo .choose-product-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 210px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.promo .choose-product-item .color {
  display: flex;
  justify-content: center;
}

.promo .choose-product-item .choose-color {
  text-align: center;
  padding-bottom: 8px;
}

.promo .choose-product-item .choose-product-item-color {
  width: 200px;
  padding-top: 0;
  text-align: center;
}

.promo .choose-product-item .choose-product-item-color.selected-variant {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.promo .choose-product-item .selected-variant .variant-name {
  border-bottom: 1px solid red;
  margin-left: 10px;
  margin-right: 10px;
}

.promo .choose-product-item .red-item,
.promo .choose-product-item .green-item,
.promo .choose-product-item .blue-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.promo .choose-product-item .red-item.selected-variant,
.promo .choose-product-item .green-item.selected-variant,
.promo .choose-product-item .blue-item.selected-variant {
  border: 2px solid red;
}

.promo .step-title {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.promo .complete-order {
  display: block;
  margin: 60px 0;
  padding: 60px 0;
  background-color: white;
}

.promo .row-credit-cards-flex {
  padding-bottom: 40px;
  padding-top: 24px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

