.promo {
  font-size: 15px;
  text-align: center;
}

.promo__title {
  font-size: 38px;
}

@media screen and (max-width: 1119px) {
  .promo__title {
    font-size: 27px;
  }
}

.promo .header-products {
  font-size: 24px;
}

.promo__jumbotron {
  border: 5px dashed #e3342f;
  max-width: 1100px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
}

.promo .text-red {
  color: #e3342f;
}

.promo__heading-battery {
  font-size: 38px;
  margin: 0 0 10px;
}

.promo__offer {
  text-transform: uppercase;
  margin: 15px 0;
}

.promo .go-to-selector {
  text-decoration: none;
  color: #e3342f;
}

.promo__installments {
  margin: 0 auto;
  max-width: 350px;
}

.promo__discount-text {
  margin: 10px 0;
  display: block;
}

.promo__price {
  font-size: 24px;
}

.promo__price--double {
  font-size: 18px;
  text-decoration: line-through;
  color: #c1c1c1;
  margin-bottom: 6px;
}

.promo__subtitle {
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  margin: 20px auto 20px;
}

.promo .card-wrapper {
  display: flex;
}

.promo .card {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  min-height: 100%;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: 3px 2px 15px -5px rgba(0, 0, 0, 0.49);
  text-align: center;
  margin: auto;
  transition: 0.2s all;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.promo .selected-promotion {
  border: 3px solid #3490dc;
}

.promo .selected-promotion .product-info {
  margin: 20px;
}

.promo__product-info {
  padding: 0 15px 0;
  flex: 1 0 auto;
}

.promo__add-button {
  flex: 0 0 auto;
}

.promo .card.starter:hover {
  border: 3px solid #3490dc;
}

.promo .card.most-profitable:hover {
  border: 3px solid #f6993f;
}

.promo .card.most-popular:hover {
  border: 3px solid #38c172;
}

.promo .card .heading {
  max-width: 158px;
  margin: auto;
  display: flex;
  justify-content: center;
  transform: skewX(20deg);
  background-color: #3490dc;
  color: white;
}

.promo .card .heading.most-profitable {
  background-color: #f6993f;
}

.promo .card .heading.most-popular {
  background-color: #38c172;
}

.promo .card .heading strong {
  font-size: 16px;
  font-weight: 600;
  transform: skewX(-20deg);
}

.promo .started-img {
  margin: 0;
  max-width: 225px;
}

.promo .multi-prod-sec {
  font-size: 19px;
  text-align: center;
  max-width: 1130px;
  margin: 10px 0;
}

.promo .discount {
  width: 200px;
  margin: 0 auto;
  padding: 8px 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.promo .fifty-discount {
  font-size: 19px;
  margin: 2px;
}

.promo .green-button-animated {
  padding: 14px;
  height: auto;
}

.promo .reviews {
  margin-bottom: 30px;
}

.promo .review {
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.promo .review .review-text {
  text-align: left;
}

@media screen and (max-width: 959px) {
  .promo .review .section-text {
    text-align: center;
  }

  .promo .review {
    width: 100%;
    flex-direction: column;
  }
}

.promo .reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 959px) {
  .promo .reverse {
    flex-direction: column;
  }
}

.promo .reverse .review-text {
  text-align: right;
}

.promo .feedback img {
  max-width: 85%;
  border-radius: 50px;
  margin: 0 auto;
  width: auto;
  max-height: 80px;
}

.promo .review .stars .fa {
  color: #fbd401;
  font-size: 26px;
}

.promo .review .title {
  font-size: 19px;
  font-weight: bold;
  color: black;
  background: transparent;
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 20px;
}

.promo__footer {
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
  background-color: #363636;
  padding: 27px 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.promo__footer-row {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-align: center;
  list-style: none;
}

.promo__footer-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.promo__people-rate {
  padding-bottom: 30px;
}

.promo__people-rate-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo__scroll-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: #e2f1f3;
  padding-bottom: 50px;
}

.promo__scroll-to-top .green-button-animated {
  max-width: 430px;
}

.promo .select-variant {
  background-color: #38c172;
  padding: 20px 0;
  font-size: 28px;
  color: white;
  margin: 24px 0;
}

.promo .carousel-img {
  width: 100%;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.promo .carousel {
  margin: 10px 0;
}

.promo .choose-product-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 210px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.promo .choose-product-item .color {
  display: flex;
  justify-content: center;
}

.promo .choose-product-item .choose-color {
  text-align: center;
  padding-bottom: 8px;
}

.promo .choose-product-item .choose-product-item-color {
  width: 200px;
  padding-top: 0;
  text-align: center;
}

.promo .choose-product-item .choose-product-item-color.selected-variant {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.promo .choose-product-item .selected-variant .variant-name {
  border-bottom: 1px solid #e3342f;
  margin-left: 10px;
  margin-right: 10px;
}

.promo__variant-icon {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo__variant-icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.promo__variant-icon-wrapper.selected-variant {
  border: 2px solid #e3342f;
}

.promo__step-title {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.promo__complete-order {
  display: block;
  margin: 60px 0;
  padding: 60px 0;
  background-color: white;
}

.promo__row-credit-cards {
  padding-bottom: 40px;
  padding-top: 24px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.promo__form-wrapper {
  max-width: 555px;
  margin: 0 auto;
}

