.question {
  align-items: center;
  background-color: #eee;
  color: #000;
  display: flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.35em;
  padding: 20px 0;
  text-align: center;

  a {
    color: #000!important;
    text-decoration: underline!important;
  }
}
