.products {
  margin-top: 6rem;

  .title {
    
  }

  .search {
    
  }

  .grid {

    .product-box {
      background: #f0f0f0;
      padding-top: 40px;
      border-radius: 6px;
      margin-bottom: 32px;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
      cursor: pointer;

      h3 {
        font-size: 25px;
      }

      p {
        font-size: 25px;
        color: $orange;
        padding: 15px 0;
        position: relative;
        margin-bottom: 0;
      }
    }

    .images-holder {
      height: 180px;
    }

    .add-to-cart {
      background: $orange;
      color: #fff;
      padding: 3px 0;
      text-align: center;

      i {
        padding-right: 10px;
      }
    }

    .old-price {
      color: #181818;
      font-size: 18px;
      position: absolute;
      text-decoration: line-through;
      transform: translateX(-100%);
      padding: 0 10px;
    }

    .show-more {
      font-size: 18px;
      display: inline-block;
      color: #181818;

      &:hover {
        text-decoration: none;
      }

      i {
        color: $orange;
        padding-right: 10px;
      }
    }

  }

  .pager {

  }

}
