.dialog {
  align-items: center;
  background-color: rgba(0,0,0,.5);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.dialog > .inside {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  margin: 64px 0;
  max-width: 600px;
  width: 50%;

  @media screen and ($s-down) {
    width: 90%;
  }
}

.dialog-title {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 20px 10px;
  position: relative;
  text-align: center;
}

.dialog-close {
  color: #999;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  padding: 30px 20px;
}
