.main-content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}

.left-column {
  display: flex;
  flex-direction: column;

  @media (min-width: $size1) {
    padding-right: 20px;
    width: 50%;

    [dir="rtl"] & {
      padding-left: 20px;
      padding-right: 0;
    }
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  margin-top: 35px;

  @media (min-width: $size1) {
    margin-top: 0;
    padding-left: 20px;
    width: 50%;

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 20px;
    }
  }
}
