.reviews {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;

  @media (min-width: $size1) {
    display: flex;
  }

  .image-back {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
    position: relative;
  }

  .container > .inside {
    align-self: flex-end;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 2px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    right: 27px;
    top: 12px;
    width: 597px;
    z-index: 1;

    [dir="rtl"] & {
      left: 27px;
      right: auto;
    }
  }

  .review {
    display: flex;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  .image {
    align-self: flex-start;
    margin-right: 15px;
    max-width: 45px;

    [dir="rtl"] & {
      margin-left: 15px;
      margin-right: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .name {
    color: #3658a6;
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.33333333;
    margin-bottom: 3px;
  }

  .text {
    color: #000;
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.33333333;
  }

  .bottom {
    display: flex;
    margin-top: 5px;
  }

  .like {
    color: #3658a6;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.28571429;
  }

  .reply {
    color: #3658a6;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.28571429;
    margin-left: 3px;
  }

  .likes {
    color: #3658a6;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.28571429;
    margin-left: 3px;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 3px;
    }

    i {
      font-size: 12px;
      margin-right: 3px;

      [dir="rtl"] & {
        margin-left: 3px;
        margin-right: 0;
      }
    }
  }

  .date {
    color: #999;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.28571429;
    margin-left: 3px;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 3px;
    }
  }
}
