.section1 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;

  @media (min-width: $size1) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @media (min-width: $size2) {
    padding-bottom: 36px;
  }

  .container {
    @media (min-width: $size1) {
      flex-direction: row;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 15px;

    @media (min-width: $size1) {
      margin-bottom: 0;
      width: 66.66666667%;
    }

    .subrow {
      display: flex;

      @media (min-width: $size1) {
        margin: 0 -15px;
      }

      .subleft {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 28%;

        @media (min-width: $size0) {
          width: 34%;
        }

        @media (min-width: $size1) {
          order: 0;
          padding: 0 15px;
          width: 50%;
        }

        .image {
          margin-top: 20px;
          max-width: 100%;

          @media (min-width: $size1) {
            margin-top: 10px;
          }

          @media (min-width: $size2) {
            margin-top: 30px;
          }

          @media (min-width: $size3) {
            margin-top: 10px;
          }
        }
      }

      .subright {
        display: flex;
        flex-direction: column;
        order: 0;
        padding-right: 20px;
        width: 72%;

        @media (min-width: $size0) {
          padding-top: 44px;
          width: 60%;
        }

        @media (min-width: $size1) {
          order: 1;
          padding: 0 15px;
          width: 50%;
        }

        .title {
          color: #1771b7;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.25;
          text-shadow: 2px 2px 2px #fff, 2px 2px 2px #fff;
          text-transform: uppercase;

          @media (min-width: $size0) {
            font-size: 20px;
            line-height: 1.2;
          }

          @media (min-width: $size1) {
            font-family: Oswald, sans-serif;
            font-size: 37px;
            line-height: 1.1;
          }

          @media (min-width: $size2) {
            font-size: 54px;
          }

          @media (min-width: $size3) {
            font-size: 64px;
          }
        }

        .subtitle {
          color: #000;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.25;
          margin-bottom: 16px;
          text-shadow: 2px 2px 0px #fff, 0 2px 6px #fff;
          text-transform: uppercase;

          @media (min-width: $size0) {
            font-size: 20px;
            line-height: 1.2;
          }

          @media (min-width: $size1) {
            font-family: Oswald, sans-serif;
            font-size: 25px;
            line-height: 1.1;
            margin-bottom: 20px;
          }

          @media (min-width: $size2) {
            font-size: 36px;
          }

          @media (min-width: $size3) {
            font-size: 43px;
          }
        }

        .options {
          display: flex;
          flex-direction: column;

          .option {
            align-items: center;
            background-color: #c70c0c;
            color: #fff;
            display: flex;
            font-size: 13px;
            margin-bottom: 5px;
            padding: 3px 6px;

            @media (min-width: $size0) {
              font-size: 16px;
              margin-bottom: 14px;
              padding: 3px 10px;
            }

            @media (min-width: $size1) {
              background-color: #579a2f;
              font-size: 15px;
              font-weight: 300;
              margin-bottom: 12px;
              padding: 6px 10px;
            }

            @media (min-width: $size2) {
              font-size: 20px;
              padding: 14px 15px;
            }

            @media (min-width: $size3) {
              font-size: 24px;
            }

            img {
              margin-right: 4px;
              margin-top: -1px;
              max-width: 13px;

              @media (min-width: $size0) {
                margin-top: 0;
                max-width: 23px;
              }

              @media (min-width: $size1) {
                margin-right: 4px;
                max-width: 100%;
              }

              @media (min-width: $size2) {
                margin-right: 15px;
              }
            }
          }
        }

        .line1 {
          color: #000;
          display: none;
          font-family: Oswald, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 40px;
          margin-top: 8px;
          text-align: center;

          @media (min-width: $size1) {
            display: block;
          }

          @media (min-width: $size2) {
            font-size: 18px;
          }

          @media (min-width: $size3) {
            font-size: 22px;
          }
        }

        .line2 {
          color: #000;
          display: none;
          font-family: Oswald, sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 40px;
          text-align: center;

          @media (min-width: $size1) {
            display: block;
          }

          @media (min-width: $size2) {
            font-size: 23px;
          }

          @media (min-width: $size3) {
            font-size: 26px;
          }
        }
      }
    }

    .shipping {
      display: none;
      flex-direction: column;
      position: relative;

      @media (min-width: $size1) {
        display: flex;
      }

      @media (min-width: $size2) {
        margin-top: -29px;
      }

      @media (min-width: $size3) {
        margin-top: -50px;
      }

      .image {
        max-width: 100%;
      }

      .label {
        color: #000;
        font-family: Oswald, sans-serif;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.1;
        margin-top: -53px;
        text-align: center;
        text-shadow: 0px 0px 8px #fff;
        text-transform: uppercase;

        @media (min-width: $size2) {
          font-size: 36px;
          margin-top: -72px;
        }

        @media (min-width: $size3) {
          font-size: 44px;
          margin-top: -86px;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    @media (min-width: $size1) {
      width: 33.33333333%;
    }

    > .title {
      color: #000;
      display: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.1;
      margin-bottom: 12px;
      text-align: center;

      @media (min-width: $size1) {
        display: block;
      }

      @media (min-width: $size2) {
        font-size: 20px;
        margin-bottom: 8px;
      }

      @media (min-width: $size3) {
        font-size: 26px;
        margin-bottom: 22px;
      }
    }

    .card {
      background-color: #f7f7f7;
      border: 1px solid #fff;
      border-radius: 10px;

      .head {
        background-color: #579a2f;
        border-radius: 10px 10px 0 0;
        padding: 10px;

        .title {
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.1;
          text-align: center;
          text-transform: uppercase;

          @media (min-width: $size1) {
            font-size: 18px;
          }

          @media (min-width: $size2) {
            font-size: 22px;
          }

          @media (min-width: $size3) {
            font-size: 30px;
          }
        }

        .subtitle {
          color: #fff;
          font-family: Oswald, sans-serif;
          font-size: 28px;
          font-weight: 700;
          line-height: 1.1;
          text-align: center;
          text-shadow: 0px 1px 3px #000;
          text-transform: uppercase;

          @media (min-width: $size1) {
            font-size: 24px;
          }

          @media (min-width: $size2) {
            font-size: 32px;
          }

          @media (min-width: $size3) {
            font-size: 48px;
          }
        }
      }

      .subhead {
        background-color: #000;
        color: #f3f3f3;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        padding: 10px 0;

        @media (min-width: $size1) {
          font-size: 13px;
          padding: 5px 0;
        }

        @media (min-width: $size2) {
          font-size: 17px;
        }

        @media (min-width: $size3) {
          font-size: 20px;
          padding: 10px 0;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 16px;

        @media (min-width: $size1) {
          padding: 15px 15px 16px;
        }

        @media (min-width: $size2) {
          padding-bottom: 20px;
        }

        @media (min-width: $size3) {
          padding-bottom: 40px;
        }

        .input, .select {
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 5px 0;
        }

        .input-field-label, .select-field-label {
          color: #000;
          font-size: 15px;
          margin: 0 4% 0 0;
          text-align: right;
          width: 38%;

          @media (min-width: $size1) {
            font-size: 12px;
          }

          @media (min-width: $size2) {
            font-size: 15px;
          }
        }

        .input-field-container, .select-field-container {
          width: 58%;
        }

        .input-field-input, .select-field-input {
          border: solid 1px #dddddd;
          border-radius: 0;
          color: #333;
          font-size: 12px;
          height: 23px;
          padding: 0 8px;

          &::placeholder {
            color: transparent;
          }

          @media (min-width: $size2) {
            font-size: 15px;
          }
        }

        .input-field-errors, .select-field-errors {
          margin-left: 42%;
        }

        .input-field-error,
        .select-field-error {
          font-size: 12px;
          margin: 4px 0;
        }

        .button {
          background-color: #1771b7;
          border-radius: 10px;
          box-shadow: -1px 1px 6px 0px #000;
          color: #fff;
          cursor: pointer;
          font-family: Oswald, sans-serif;
          font-size: 22px;
          font-weight: 500;
          margin-top: 9px;
          padding: 10px 0;
          text-align: center;
          text-shadow: 0px 1px 3px #000;
          text-transform: uppercase;
          width: 100%;

          &:hover {
            background-color: #579a2f;
          }

          @media (min-width: $size1) {
            margin-top: 14px;
            padding: 5px;
          }

          @media (min-width: $size2) {
            font-size: 30px;
            margin-top: 20px;
            padding: 8px;
          }

          @media (min-width: $size3) {
            font-size: 40px;
            margin-top: 40px;
            padding: 8px 10px;
          }
        }
      }
    }
  }

  .mobile {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    @media (min-width: $size1) {
      display: none;
    }

    .line1 {
      color: #000;
      font-family: Oswald, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 40px;
      margin-top: 21px;
      text-align: center;
    }

    .line2 {
      color: #000;
      font-family: Oswald, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 10px;
      text-align: center;
    }

    .shipping {
      flex-direction: column;
      position: relative;
      text-align: center;

      .image {
        max-width: 345px;

        @media (min-width: $size0) {
          max-width: 370px;
        }
      }

      .label {
        color: #000;
        font-family: Oswald, sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.1;
        margin-top: -43px;
        text-align: center;
        text-shadow: 0px 0px 8px #fff;
        text-transform: uppercase;

        @media (min-width: $size0) {
          font-size: 20px;
        }
      }
    }
  }
}
