.product-item {
  display: flex;
  flex-wrap: wrap;
  color: #0a0f0a;
  margin-top: 15px;
}
.product-item__image {
  width: 30%;
  padding: 0 20px;
}
.product-item__image img {
  width: 100%;
  height: auto;
}
.product-item__main {
  flex-grow: 1;
  max-width: 70%;
}
.product-item__main h5 {
  margin: 0;
  font-size: 1.1em;
}
.product-item__main ul {
  margin-top: 6px;
}
.product-item__bottom {
  display: flex;
  width: 100%;
  padding-left: 30%;
}
.product-item__bottom__price {
  width: 50%;
  flex-grow: 1;
}
.product-item__bottom__price .regular {
  text-decoration: line-through;
  margin-bottom: 10px;
}
.product-item__bottom__price .new {
  font-weight: bold;
}
.product-item__bottom__quantity-block {
  width: 50%;
}
.product-item__bottom__quantity-block .el-input-number {
  width: 120px;
}
.product-item__bottom__quantity-block .el-input-number__decrease, .product-item__bottom__quantity-block .el-input-number__increase {
  bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0f9b0f;
  border-radius: 10px;
}
.product-item__bottom__quantity-block .el-input-number input {
  border: 0;
}
@media screen and (max-width: 767px) {
.product-item__main {
    width: 70%;
}
.product-item__bottom {
    padding-left: 0;
}
.product-item__bottom__quantity-block {
    width: unset;
}
}.cart-container {
  padding-top: 20px;
}
.cart-container .cart-item {
  display: flex;
  margin-bottom: 15px;
}
.cart-container .cart-item__image {
  width: 15%;
  padding: 0 20px;
}
.cart-container .cart-item__image img {
  width: 100%;
  height: auto;
}
.cart-container .cart-item__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.cart-container .cart-item__content .quantity {
  background: #606266;
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
}
.cart-container .cart-item__content .name {
  flex-grow: 1;
  padding-right: 10px;
}
.cart-container .cart-item__content .price {
  white-space: nowrap;
}
.cart-container .cart-item__content .fa-times-circle {
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #e3342f;
}
@media screen and (max-width: 767px) {
.cart-container .cart-item__image {
    width: 20%;
    padding: 0 10px;
}
}.alert {
  width: 100%;
  padding: 20px;
  background-color: #6bbd6e;
  color: white;
  margin-top: 15px;
}@charset "UTF-8";
.accessories-modal > p {
  text-align: center;
  font-size: 17px;
}
.accessories-modal__bottom {
  display: flex;
  flex-direction: column;
}
.accessories-modal__bottom button {
  margin: 50px auto 10px;
  width: 70%;
  max-width: 395px;
  padding: 5px;
}
.accessories-modal__bottom .thanks {
  font-size: 17px;
  margin: 0 auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}
.sale-badge {
  width: 85px;
  height: 85px;
  margin-left: 5px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
}
.dynamic-sale-badge__background {
  -webkit-animation: spin 20s linear infinite;
          animation: spin 20s linear infinite;
  position: absolute;
  background: #e74c3c;
  border-radius: 50%;
  padding: 5px;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 5px #e74c3c;
  width: 85px;
  height: 85px;
}
.dynamic-sale-badge__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
  transform: rotate(349deg);
  position: absolute;
  width: 85px;
  height: 85px;
}
.main {
  padding-top: 20px;
}
.main > .row {
  align-items: flex-start;
}
.main .col-7 {
  padding-right: 20px;
}
.main__deal__text {
  font-size: 18px;
  font-style: italic;
  padding-left: 20px;
  margin: 0;
}
.main__deal__text strong {
  font-size: 20px;
  font-weight: bold;
}
.main .radio-button-group .label-container-radio__label {
  font-weight: bold;
  font-size: 16px;
}
.main .radio-button-group .label-container-radio__name-price {
  display: flex;
  justify-content: space-between;
}
.main .radio-button-group .label-container-radio__best-seller {
  display: flex;
  justify-content: space-between;
  color: #e74c3c;
}
.main .radio-button-group .label-container-radio__best-seller .label-container-radio__price {
  margin-left: auto;
}
.main .radio-button-group .label-container-radio__discount {
  color: #16a085;
}
.main .radio-button-group .label-container-radio__discount.red {
  color: #e74c3c;
}
.main .radio-button-group .label-container-radio.with-discount .label-container-radio__name-price > span:nth-child(2) {
  text-decoration: line-through;
}
.main .radio-button-group .label-container-radio__best-seller__soldout,
.main .radio-button-group .label-container-radio__name-price__soldout {
  display: none;
}
.main .label-container-radio.disabled .label-container-radio__name-price {
  flex-wrap: wrap;
}
.main .label-container-radio.disabled .label-container-radio__name-price__name {
  order: 2;
  flex: 0 0 100%;
}
.main .label-container-radio.disabled .label-container-radio__name-price__soldout {
  display: inline-block;
}
.main .label-container-radio.disabled .label-container-radio__best-seller__soldout {
  display: inline-block;
  margin-right: auto;
}
.main .label-container-radio.disabled .label-container-radio__best-seller__soldout:before {
  display: inline-block;
  padding: 0 3px;
  content: "-";
}
.main .label-container-radio.disabled.labeled .label-container-radio__name-price {
  flex-wrap: nowrap;
}
.main .label-container-radio.disabled.labeled .label-container-radio__name-price__name {
  order: 0;
  flex: 1 1 auto;
}
.main__deal h3 {
  padding-left: 20px;
}
.main__deal .share {
  position: absolute;
  transform: rotate3d(-10, -3, 0, 180deg);
  height: auto;
  width: 40px;
  top: -17px;
  left: -30px;
}
@media screen and (max-width: 767px) {
.main__deal .share {
    width: 24px;
    top: 0;
    left: -9px;
}
}
.main__deal .radio-button-group .label-container-radio:nth-child(2) {
  background: #fef036;
}
.main__deal .radio-button-group .label-container-radio:hover {
  background: #fef9ae;
}
.main__deal #warranty-field-button {
  width: 100%;
  position: relative;
  height: 95px;
  margin-top: 22px;
  background-color: rgba(216, 216, 216, 0.71);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
.main__deal #warranty-field-button:hover {
  background-color: rgba(191, 191, 191, 0.71);
  background-image: linear-gradient(to bottom, #e6e6e6 0, #ccc 100%);
}
.main__deal #warranty-field-button label[for=warranty-field] {
  font-weight: bold;
  line-height: 1.8;
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
  padding: 23px 70px 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.main__deal #warranty-field-button label[for=warranty-field] .checkmark {
  top: 20px;
  left: 40px;
}
.main__deal #warranty-field-button input[type=checkbox] {
  position: absolute;
  top: 23px;
  left: 45px;
}
.main__deal #warranty-field-button > img {
  position: absolute;
  width: 30px;
  height: auto;
  top: -7px;
  right: -7px;
}
.main__deal #warranty-field-button > .fa-arrow-right {
  position: absolute;
  font-size: 18px;
  color: #dc003a;
  top: 20px;
  left: 10px;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
          animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}
.main__payment {
  display: flex;
  flex-wrap: wrap;
}
.main__payment h2, .main__payment h3 {
  margin: 10px 0;
}
.main__payment h3 {
  margin-top: 0;
}
.main__payment img {
  width: 100%;
  height: auto;
}
.main__credit-card-switcher {
  width: 100%;
  padding: 0 !important;
  height: auto !important;
  margin-bottom: 0;
}
.main__credit-card-switcher .label-container-radio {
  background-color: transparent !important;
  border: 0 !important;
  color: #fff;
  cursor: pointer;
  margin: 0 0 10px;
}
.main__credit-card-switcher .label-container-radio.bank-payment {
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #fff 0, #f6f6f6 53%, #ececec 100%);
  border: 1px solid #efefef;
  color: #333;
}
.main__credit-card-switcher .label-container-radio.bank-payment:before {
  opacity: 0;
  font-family: FontAwesome !important;
  content: "\F054";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 50% 50% 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s linear 0s;
}
.main__credit-card-switcher .label-container-radio.bank-payment:hover {
  background-color: #e6e6e6;
  background-image: linear-gradient(to bottom, #e6e6e6 0, #ddd 53%, #d3d3d3 100%);
}
.main__credit-card-switcher .label-container-radio.bank-payment:hover:before {
  opacity: 1;
  width: 30px;
}
.main__credit-card-switcher .label-container-radio.bank-payment .checkmark {
  border-color: #333;
}
.main__credit-card-switcher .label-container-radio.bank-payment .checkmark:after {
  background-color: #333;
}
.main__credit-card-switcher .label-container-radio:first-child {
  height: auto;
  border: 1px solid #0f9b0f;
  background: #ff2f21 linear-gradient(#0f9b0f, #0d840d) repeat scroll 0% 0%/auto padding-box border-box;
}
.main__credit-card-switcher .label-container-radio:first-child:hover {
  background-image: linear-gradient(to bottom, #6d4 0, #3d6c04 100%);
}
.main__credit-card-switcher .label-container-radio:hover {
  background-color: #e6e6e6;
}
.main__credit-card-switcher .label-container-radio__label {
  font-size: 15px;
}
.main__credit-card-switcher .label-container-radio .checkmark {
  border-color: #fff;
  background-color: transparent;
}
.main__credit-card-switcher .label-container-radio .checkmark:after {
  background-color: #fff;
}
.main__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main__bottom img {
  width: 80%;
  margin: 0 auto;
}
.main__bottom p {
  text-align: center;
  font-size: 13px;
}
.main__bottom p i {
  position: relative;
  margin-right: 4px;
  top: 2px;
  font-size: 18px;
  color: #409EFF;
}
@media screen and (max-width: 768px) {
.main .col-md-7 {
    padding: 0;
}
.main__deal #warranty-field-button label[for=warranty-field] {
    padding: 0 0 0 70px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}
}
.emc1-popover-variant .el-select-dropdown__item {
  height: auto;
}
.emc1-popover-variant .select__label {
  opacity: 1;
}
.emc1-popover-variant .select__label > div {
  display: flex;
  align-items: center;
}
.emc1-popover-variant .select__label > div img {
  height: 80px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}
*[dir=rtl] .radio-button-group .label-container-radio {
  padding: 15px 45px 15px 15px;
}
*[dir=rtl] .radio-button-group .label-container-radio .checkmark {
  left: unset;
  right: 15px;
}
*[dir=rtl] .main__payment .first-name {
  margin-right: 0;
}
*[dir=rtl] .main__payment .last-name {
  margin-right: 10px;
}
*[dir=rtl] .main__payment .card-date {
  padding-right: 0;
  padding-left: 30px;
}
*[dir=rtl] .main__payment .card-date > div {
  margin-right: 0;
}
*[dir=rtl] .main__payment .card-date > div:last-child {
  margin-right: 10px;
}
*[dir=rtl] .iti__flag-container {
  left: auto;
}
.special-offer-popup .el-dialog {
  margin-top: 10vh !important;
}
@media screen and (max-width: 767px) {
.special-offer-popup .el-dialog {
    width: 100%;
    margin-top: 0 !important;
}
.special-offer-popup .el-dialog .accessories-modal__list .product-item__image {
    padding: 0;
}
.special-offer-popup .el-dialog .accessories-modal__list .product-item__main {
    padding-left: 20px;
}
.accessories-modal__bottom button {
    width: 100%;
}
}.red {
  color: #e74c3c;
}
.label-container-radio__discount {
  color: #16a085;
}
.radio-button-deal {
  position: relative;
  margin: 5px 0;
}
.radio-button-deal .label-container-radio__label {
  display: flex;
}
.radio-button-deal .label-container-radio__label .price {
  margin-left: auto;
}
.label-container-radio.disabled.labeled .label-container-radio__soldout:before {
  display: inline-block;
  content: "-";
  text-decoration: inherit;
}
.isChecked {
  background: #fef5eb;
}.spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.spinner div {
  transform-origin: 32px 32px;
  -webkit-animation: spinner 1.2s linear infinite;
          animation: spinner 1.2s linear infinite;
}
.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.spinner div:nth-child(1) {
  transform: rotate(0);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.spinner div:nth-child(2) {
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.spinner div:nth-child(3) {
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.spinner div:nth-child(4) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.spinner div:nth-child(6) {
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.spinner div:nth-child(7) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.spinner div:nth-child(8) {
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.spinner div:nth-child(9) {
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.spinner div:nth-child(10) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.spinner div:nth-child(11) {
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
.spinner div:nth-child(12) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes spinner {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes spinner {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}@charset "UTF-8";
.smc7.container {
  max-width: 970px;
}
.smc7__product {
  display: flex;
}
.smc7__product .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.smc7__product .image-wrapper img {
  height: 335px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 34px;
}
.smc7__product .advantages {
  display: flex;
  align-items: center;
}
.smc7__product .advantages ul {
  width: 100%;
  list-style: none;
  padding: 0;
}
.smc7__product .advantages li {
  position: relative;
  background: #e3e3e3;
  margin: 3px 0;
  padding: 15px 15px 15px 38px;
  font-weight: 700;
}
.smc7__product .advantages li:before {
  position: absolute;
  top: 18px;
  left: 15px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  content: "\F00C";
  color: green;
}
.smc7 .offer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.smc7__deal__text {
  font-size: 18px;
  font-style: italic;
  padding: 0 20px;
  margin: 0;
}
.smc7__sale .dynamic-sale-badge__background {
  background-color: #c0392b;
  box-shadow: 0 0 0 5px #c0392b;
}
.smc7__sale .badge-discount-percentage {
  font-size: 18px;
}
.smc7 .el-select .el-input.is-focus .el-input__inner,
.smc7 .el-select .el-input__inner:focus {
  border-color: #C0C4CC;
}
.smc7__step-1 .bestseller {
  display: none;
}
.smc7__step-1 h2 {
  margin-bottom: 20px;
}
.smc7__step-1__titles {
  display: flex;
  padding: 0 10px;
}
.smc7__step-1__titles h3 {
  margin: 0 0 10px;
}
.smc7__step-1__titles h3:first-child {
  width: 60%;
}
.smc7__step-1__titles h3:last-child {
  width: 40%;
  text-align: right;
}
.smc7__step-1 .radio-button-group .label-container-radio__label {
  padding-bottom: 5px;
}
.smc7__step-1 .radio-button-group .label-container-radio__label, .smc7__step-1 .radio-button-group .label-container-radio__subtitle {
  font-weight: 700;
  font-size: 16px;
}
.smc7__step-1 .radio-button-group .label-container-radio__name-price {
  display: flex;
  justify-content: space-between;
}
.smc7__step-1 .radio-button-group .label-container-radio__best-seller {
  display: flex;
  justify-content: space-between;
  color: #e74c3c;
}
.smc7__step-1 .radio-button-group .label-container-radio:nth-child(1) {
  background: #fef036;
}
.smc7__step-1 .radio-button-group .label-container-radio:hover {
  background: #fef9ae;
}
.smc7__step-1 .share {
  position: absolute;
  transform: rotate3d(-10, -3, 0, 180deg);
  height: auto;
  width: 40px;
  top: -17px;
  left: -30px;
}
@media screen and (max-width: 767px) {
.smc7__step-1 .share {
    width: 24px;
    top: 0;
    left: -9px;
}
}
.smc7__step-2 h2 {
  margin: 15px 0 20px;
}
.smc7__step-2 .select .el-select {
  outline: 1px inset #000;
}
.smc7__step-2 .select .el-select input {
  border-color: transparent;
  font-size: 17px;
}
.smc7__step-3 h2 {
  margin: 25px 0 20px;
}
.smc7__step-3 .full-name {
  display: flex;
}
.smc7__step-3 .full-name .first-name {
  width: 40%;
  margin-right: 10px;
}
.smc7__step-3 .full-name .last-name {
  width: calc(60% - 11px);
}
.smc7__step-3 .input-container {
  margin-bottom: 15px;
}
.smc7__step-3 .input-container.variant-1 input,
.smc7__step-3 .phone-input-container.variant-1 input {
  background-color: #ffffff;
  font-size: 14px;
  border-radius: unset;
  border: 1px solid #000000;
}
.smc7__step-4 .step-title {
  margin-top: 50px;
}
.smc7__step-4 .radio-button-group {
  display: flex;
}
.smc7__step-4 .select {
  margin-bottom: 15px;
}
.smc7__step-4 .select .el-select {
  outline: 1px inset #000;
}
.smc7__step-4 .select .el-select input {
  background-color: #ffffff;
  border-color: transparent;
  font-size: 17px;
}
.smc7__step-4 .card-date {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-right: 30px;
  margin-bottom: 10px;
}
.smc7__step-4 .card-date > .label {
  width: 100%;
  margin-bottom: 6px;
}
.smc7__step-4 .card-date > div {
  width: calc(40% - 5px);
  margin-right: 10px;
}
.smc7__step-4 .cvv-field {
  width: calc(30%);
}
.smc7__step-4 .el-select-dropdown__item {
  font-size: 17px;
  font-weight: 700;
}
.smc7__step-4 .input-container.variant-1 input {
  background-color: #ffffff;
  border-radius: unset;
  border: 1px solid #000000;
}
.smc7__step-4 .input-container {
  margin-bottom: 15px;
}
.smc7__step-4 #product-image-body {
  max-height: 100px;
}
.smc7__step-4 .purchase-button-text {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 0 0;
  transform-origin: 0 0;
  caret-color: white;
  border: 0 none white;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  outline: white none 0;
}
.smc7__step-4 .purchase-button-text:after {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  -moz-column-rule-color: white;
       column-rule-color: white;
  caret-color: white;
  border: 0 none white;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  outline: white none 0;
}
.smc7__step-4 .purchase-button-text:before {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  -moz-column-rule-color: white;
       column-rule-color: white;
  caret-color: white;
  border: 0 none white;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  outline: white none 0;
}
.smc7__step-4 .purchase-button-disabled {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.smc7__bottom {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.smc7__bottom img {
  width: 80%;
  margin: 0 auto;
}
.smc7__bottom__safe p {
  text-align: center;
  font-size: 13px;
  padding-top: 20px;
}
.smc7__bottom__safe p i {
  position: relative;
  margin-right: 4px;
  top: 2px;
  font-size: 18px;
  color: #409EFF;
}
.smc7-popover-variant .el-select-dropdown__item {
  height: auto;
}
.smc7-popover-variant .select__label {
  opacity: 1;
}
.smc7-popover-variant .select__label > div {
  display: flex;
  align-items: center;
}
.smc7-popover-variant .select__label > div img {
  height: 80px;
  width: auto;
  margin-right: 25px;
}
.smc7-popover-variant .select__label > div span {
  font-size: 17px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
.smc7__product {
    max-width: 100%;
    flex-direction: column;
}
.smc7__product .image-wrapper {
    width: 100%;
}
.smc7__product .advantages {
    width: 100%;
}
.smc7__step-4 {
    margin-top: 10px;
}
.smc7__step-4 .step-title {
    margin-top: 20px;
}
}@charset "UTF-8";
.vmc4 {
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-top: 30px;
  padding: 0;
}
.vmc4 .main-content .col-content {
  margin: 30px 0;
  position: relative;
  width: 100%;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.vmc4 .main-content .col-content .product_img {
  padding: 10px;
}
.vmc4 .main-content .col-content .product_img img {
  width: 85%;
  margin: 0 auto;
  display: block;
}
.vmc4 .main-content .col-content .product_desc {
  padding: 10px;
}
.vmc4 .main-content .col-content .product_desc ul {
  color: #2c77cc;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
}
.vmc4 .main-content .col-content .product_desc ul li {
  margin-top: 10px;
  position: relative;
  background: #ebebeb;
  padding: 10px 15px 10px 42px;
  border-radius: 30px;
  display: inline-block;
  margin-right: 8px;
  color: #0a0a0a;
}
.vmc4 .main-content .col-content .product_desc ul li:before {
  display: block;
  content: "\2713";
  position: absolute;
  left: 14px;
  top: 7px;
  font-size: 22px;
  color: #25aae1;
}
.vmc4 .main-content .secure-pay-content {
  text-align: center;
}
.vmc4 .main-content .secure-pay-content .logos-content {
  display: flex;
  justify-content: center;
  margin: 15px 0 20px;
}
.vmc4 .main-content .secure-pay-content .logos-content img {
  max-width: 350px;
}
.vmc4 .main-content .secure-pay-content .text-content p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}
.vmc4 .main-content .secure-pay-content .text-content p img {
  max-width: 12px;
  position: relative;
  top: 2px;
}
.vmc4 .radio-button-group .label-container-radio__label {
  font-size: 16px;
}
.vmc4 .radio-button-group .label-container-radio__name-price {
  display: flex;
  justify-content: space-between;
}
.vmc4 .radio-button-group .label-container-radio.with-discount .label-container-radio__name-price > span:nth-child(2) {
  text-decoration: line-through;
}
.vmc4 .vmc4__deal h3 {
  padding-left: 20px;
}
.vmc4 .vmc4__deal #warranty-field-button {
  width: 100%;
  position: relative;
  height: 95px;
  margin-top: 22px;
  margin-bottom: 22px;
  background-color: rgba(216, 216, 216, 0.71);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}
.vmc4 .vmc4__deal #warranty-field-button:hover {
  background-color: rgba(191, 191, 191, 0.71);
  background-image: linear-gradient(to bottom, #e6e6e6 0, #ccc 100%);
}
.vmc4 .vmc4__deal #warranty-field-button label[for=warranty-field] {
  font-weight: bold;
  line-height: 1.8;
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
  padding: 17px 70px 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vmc4 .vmc4__deal #warranty-field-button label[for=warranty-field] .checkmark {
  top: 20px;
  left: 40px;
}
.vmc4 .vmc4__deal #warranty-field-button input[type=checkbox] {
  position: absolute;
  top: 23px;
  left: 45px;
}
.vmc4 .vmc4__deal #warranty-field-button > img {
  position: absolute;
  width: 30px;
  height: auto;
  top: -7px;
  right: -7px;
}
.vmc4 .vmc4__deal #warranty-field-button > .fa-arrow-right {
  position: absolute;
  font-size: 18px;
  color: #dc003a;
  top: 20px;
  left: 10px;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
          animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}
.tpl-vmc4 .footer {
  background-color: transparent;
  padding: 35px 15px 60px;
}
.tpl-vmc4 .footer__row {
  justify-content: center;
}
.tpl-vmc4 .footer__row-item {
  margin: 0;
}
.tpl-vmc4 .footer__row-item:before {
  content: "|";
  color: #6c6c6c;
  padding: 5px 7px;
}
.tpl-vmc4 .footer__row-item:first-child:before {
  display: none;
}
.tpl-vmc4 .footer__link {
  color: #337ab7;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}
@media screen and (max-width: 480px) {
.tpl-vmc4 .footer__row {
    flex-direction: column;
}
.tpl-vmc4 .footer__row-item {
    margin-bottom: 8px;
}
.tpl-vmc4 .footer__row-item:before {
    display: none;
}
}
@media screen and (min-width: 1200px) {
.tpl-vmc4 .vmc4 {
    max-width: 1170px;
}
}
@media screen and (max-width: 992px) {
.tpl-vmc4 .container {
    max-width: 100%;
}
}.timer-component {
  flex-grow: 1;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.timer-component.is-mobile {
  position: fixed;
  z-index: 1;
}
.timer-component .mobile {
  padding: 15px 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #22ab9f;
}
.timer-component .mobile > span {
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
.timer-component {
    position: relative;
    order: 1;
}
.timer-component > .desktop {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
.timer-component > .desktop > * {
    padding: 7px 0;
}
.timer-component > .desktop > span {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 50%;
}
.timer-component > .desktop .timer-component__minutes, .timer-component > .desktop .timer-component__seconds {
    display: flex;
}
.timer-component > .desktop .timer-component__minutes > div, .timer-component > .desktop .timer-component__seconds > div {
    padding: 0px 2px;
    font-weight: 700;
    color: #ccc;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #333;
    border-radius: 6px;
    font-size: 54px;
    margin-right: 5px;
    position: relative;
}
.timer-component > .desktop .timer-component__minutes > div .line, .timer-component > .desktop .timer-component__seconds > div .line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.timer-component > .desktop .timer-component__dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    padding: 18px 0;
    height: auto;
}
.timer-component > .desktop .timer-component__dots span {
    display: block;
    background: #323434;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
}.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.input-container.invalid .label {
  color: #e74c3c;
}
.input-container__input {
  position: relative;
}
.input-container input {
  outline: none;
  color: #555555;
  width: 100%;
}
.input-container .label {
  margin-bottom: 6px;
}
.input-container .prefix {
  position: absolute;
  bottom: 0;
  left: 3px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.input-container .postfix {
  position: absolute;
  bottom: 0;
  right: 3px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.input-container.variant-1 input {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: rgba(255, 253, 228, 0.6);
  height: 40px;
  padding: 0 15px;
}
.input-container.variant-1 input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #409EFF;
}.date-picker-field {
  width: 100%;
}
.date-picker-field .el-date-editor.el-input {
  width: 100%;
  margin-top: 5px;
}
.date-picker-field .el-date-editor.el-input.variant-1 .el-input__inner {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: rgba(255, 253, 228, 0.6);
  height: 40px;
}
.date-picker-field .el-date-editor.el-input.variant-1 .el-input__inner:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #409EFF;
}.date-picker-manual {
  width: 100%;
}
.date-picker-manual__input {
  position: relative;
  height: 40px;
  width: 100%;
}
.date-picker-manual__input > input, .date-picker-manual__input > .placeholder {
  padding: 0 15px;
  font-size: 15px;
  font-family: monospace;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.date-picker-manual__input > .placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: rgba(255, 253, 228, 0.6);
  color: #ddd;
}
.date-picker-manual__input > input {
  background: transparent;
  border: none;
  outline: none;
}
.date-picker-manual.with-error > span {
  color: #e74c3c;
}.phone-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.phone-input-container.invalid .label, .phone-input-container.invalid .error {
  color: #e74c3c;
}
.phone-input-container input {
  outline: none;
  width: 100%;
  color: #555555;
}
.phone-input-container .iti__selected-flag {
  outline: none;
}
.phone-input-container .label {
  margin-bottom: 6px;
}
.phone-input-container.variant-1 input {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: rgba(255, 253, 228, 0.6);
  height: 40px;
  padding: 0 15px 0 46px;
}
.phone-input-container.variant-1 input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #409EFF;
}.select {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.select .label {
  margin-bottom: 6px;
}
.select input {
  height: 35px;
}
.select.variant-1 input {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: rgba(255, 253, 228, 0.6);
  height: 40px;
  padding: 0 15px;
}
.select.variant-1 input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #409EFF;
}
.el-select-dropdown .popper__arrow {
  display: none;
}
.el-popper[x-placement^=bottom] {
  margin-top: 0;
}.label-container-radio {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px 10px 10px 35px;
  margin: 0 -7px;
}
.label-container-radio:hover {
  background: #fef9ae;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.label-container-radio.disabled {
  background-color: transparent !important;
  border: none;
  opacity: 0.5;
  cursor: default;
}
.label-container-radio.disabled:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.label-container-radio.disabled:hover {
  background: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-radius: 0;
}
.label-container-radio.disabled * {
  text-decoration: line-through;
}
.label-container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.label-container-radio .checkmark {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
}
.label-container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.label-container-radio input:checked ~ .checkmark:after {
  display: block;
}
.label-container-radio .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  height: 12px;
  width: 12px;
  background-color: #2f4a92;
}
.radio-button-group .label-container-radio {
  padding: 15px 15px 15px 45px;
}.payment-type-radio-list {
  text-align: left;
}
.payment-type-radio-list .cards {
  display: flex;
  flex-wrap: wrap;
  margin: 8px -4px 0;
}
.payment-type-radio-list .cards .card {
  display: flex;
  flex-direction: column;
  margin: 4px 4px;
}
.payment-type-radio-list .cards .card img {
  max-width: 56px;
}div#bio_ep {
  padding: 3% 4% 5%;
  height: auto;
}
div#bio_ep > div {
  display: flex;
  flex-direction: column;
}
div#bio_ep > div > img {
  width: 80%;
  height: auto;
  margin: 0 auto 20px;
}
div#bio_ep > div p {
  font-weight: 700;
  font-size: 1.1rem;
}
div#bio_ep #bio_ep_close {
  display: none;
}
.leave-modal p {
  line-height: 1.7rem;
  text-align: center;
}
.leave-modal .green {
  margin: 0.2rem 0;
  font-weight: 400;
  color: #0f9b0f;
}
.leave-modal .offer-btn {
  font-size: 1.2rem;
  background: linear-gradient(180deg, #9fdf23, #6ac800);
  border: 1px solid #a4a4a4;
  color: #fff;
  border-radius: 3px;
  padding: 7px 5px;
  font-weight: 700;
  margin: 15px 0 22px;
}
.leave-modal .close-btn {
  color: #a4a4a4;
  background: transparent;
  border: 0;
  text-decoration: underline;
  transform: none !important;
}
.leave-modal button {
  outline: none;
  cursor: pointer;
}
.leave-modal button:active {
  transform: translateY(1px);
}@charset "UTF-8";
.payment-form {
  display: flex;
}
.payment-form h2 {
  width: 100%;
}
.payment-form .cvv-popup .el-dialog {
  margin-top: 10vh !important;
  max-width: 600px;
}
.payment-form .cvv-popup .el-dialog__header {
  display: flex;
  justify-content: center;
}
.payment-form .cvv-popup .el-dialog__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.payment-form .cvv-popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-form .cvv-popup__content p {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  width: 100%;
}
.payment-form .cvv-popup__content img {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}
.payment-form .variant-1, .payment-form .date-picker-manual {
  margin-bottom: 10px;
}
.payment-form .variant-1 .fa.fa-question-circle {
  cursor: pointer;
}
.payment-form__delivery-address {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.payment-form__delivery-address .input-container, .payment-form__delivery-address .select {
  order: 1;
}
.payment-form__delivery-address .el-loading-mask {
  top: 26px;
  background-color: rgba(255, 255, 255, 0.5);
}
.payment-form__delivery-address .el-loading-mask .el-loading-spinner {
  margin-top: 0;
  transform: translateY(-50%);
}
.payment-form.is-brazil .payment-form__delivery-address #zip-code-field {
  order: 0;
}
.payment-form.is-brazil .payment-form__delivery-address .street {
  width: 60%;
  margin-right: 10px;
}
.payment-form.is-brazil .payment-form__delivery-address .number {
  width: calc(40% - 10px);
}
.payment-form .first-name {
  width: 40%;
  margin-right: 10px;
}
.payment-form .last-name {
  width: calc(60% - 11px);
}
.payment-form .card-number .prefix > img {
  height: 22px;
  width: auto;
}
.payment-form .card-number .prefix input:after {
  content: "\F023";
  display: block;
  color: #555;
  font-family: FontAwesome !important;
  position: absolute;
  top: 8px;
  right: 15px;
}
.payment-form .card-date {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-right: 30px;
  margin-bottom: 10px;
}
.payment-form .card-date.with-error > .label {
  color: #e74c3c;
}
.payment-form .card-date > .label {
  width: 100%;
  margin-bottom: 6px;
}
.payment-form .card-date > div {
  width: calc(40% - 5px);
  margin-right: 10px;
}
.payment-form .card-date > div:last-child {
  margin-right: 0;
  width: calc(60% - 5px);
}
.payment-form .cvv-field {
  width: calc(30%);
}
@media screen and (max-width: 767px) {
.payment-form .el-dialog {
    width: 90%;
    margin-top: 15% !important;
}
}
.payment-form .purchase-button-text {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 0 0;
  transform-origin: 0 0;
  caret-color: white;
  border: 0 none white;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  outline: white none 0;
}
.payment-form .purchase-button-text:after {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  -moz-column-rule-color: white;
       column-rule-color: white;
  caret-color: white;
  border: 0 none white;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  outline: white none 0;
}
.payment-form .purchase-button-text:before {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  -moz-column-rule-color: white;
       column-rule-color: white;
  caret-color: white;
  border: 0 none white;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  outline: white none 0;
}
.payment-form .purchase-button-disabled {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.payment-form #payment-error {
  font-size: 17px;
  text-align: center;
  width: 100%;
}
.warranty-field-button {
  position: relative;
  display: flex;
  padding: 10px;
  margin: 40px 0;
}
.warranty-field-icon {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
}
.warranty-field-icon img {
  max-width: 100%;
}
.warranty-field-arrow {
  position: absolute;
  left: -30px;
  top: 0;
  z-index: 2;
}
.label-container-checkbox {
  position: relative;
  margin-left: 30px;
}
#payment-data-form {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
.cvv-popup .el-dialog {
    width: 90%;
}
}.pay-method-item {
  cursor: pointer;
}
.pay-method-item img {
  max-height: 30px;
}
.pay-method-item input {
  display: none;
}@charset "UTF-8";
.payment-form-smc7 .card-types {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.payment-form-smc7 .card-types .pay-method-item {
  cursor: pointer;
  margin: 5px 12px;
}
.payment-form-smc7 .cvv-popup .el-dialog {
  margin-top: 10vh !important;
  max-width: 600px;
}
.payment-form-smc7 .cvv-popup .el-dialog__header {
  display: flex;
  justify-content: center;
}
.payment-form-smc7 .cvv-popup .el-dialog__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.payment-form-smc7 .cvv-popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-form-smc7 .cvv-popup__content p {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  width: 100%;
}
.payment-form-smc7 .cvv-popup__content img {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}
.payment-form-smc7 .prefix > img {
  height: 22px;
  width: auto;
}
.payment-form-smc7 .prefix input:after {
  content: "\F023";
  display: block;
  color: #555;
  font-family: FontAwesome !important;
  position: absolute;
  top: 8px;
  right: 15px;
}
.payment-form-smc7 .card-icons {
  display: flex;
}
.payment-form-smc7 .fa.fa-question-circle {
  cursor: pointer;
}.payment-form-vmc4 .d-flex {
  display: flex;
}
.payment-form-vmc4 .form-steps-title {
  text-align: center;
}
.payment-form-vmc4 .el-input__inner {
  border-radius: 0;
}
.payment-form-vmc4 .input-container.variant-1 input,
.payment-form-vmc4 .phone-input-container.variant-1 input {
  background-color: #ffffff;
  font-size: 14px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
}
.payment-form-vmc4 .input-container.variant-1 input:focus,
.payment-form-vmc4 .phone-input-container.variant-1 input:focus {
  box-shadow: none;
}
.payment-form-vmc4 .step-1 .radio-button-deal {
  font-size: 16px;
  padding: 20px 20px 20px 45px;
  border: none;
  cursor: pointer;
  margin: 5px 0;
}
.payment-form-vmc4 .step-1 .radio-button-deal:hover {
  background: #fef5eb;
}
.payment-form-vmc4 .step-1 .radio-button-deal .checkmark {
  top: 20px;
}
.payment-form-vmc4 .step-1 .label-container-radio {
  border: none;
  margin: 5px 0;
}
.payment-form-vmc4 .step-1 .label-container-radio:hover {
  background-color: #fef5eb;
  border: none;
}
.payment-form-vmc4 .step-1 .label-container-radio input:checked ~ .checkmark:after {
  display: block;
}
.payment-form-vmc4 .step-1 .radio-button-group {
  margin: 24px 0;
}
.payment-form-vmc4 .step-1 .main-row {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.payment-form-vmc4 .step-1 .discount {
  margin-left: 4px;
}
.payment-form-vmc4 .step-1 .prices {
  margin-right: 50px;
}
.payment-form-vmc4 .step-1 .red {
  color: #e3342f;
}
.payment-form-vmc4 .step-1 .best-seller {
  position: absolute;
  top: -26px;
  right: 50px;
}
.payment-form-vmc4 .step-2 .full-name {
  display: flex;
  margin-bottom: 15px;
}
.payment-form-vmc4 .step-2 .full-name .first-name {
  width: 40%;
  margin-right: 10px;
}
.payment-form-vmc4 .step-2 .full-name .last-name {
  width: calc(60% - 11px);
}
.payment-form-vmc4 .step-3 h3 {
  color: #0a0f0a;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
}
.payment-form-vmc4 .step-3 .pay-method-item img {
  max-height: 45px;
  margin-right: 15px;
}
.payment-form-vmc4 .step-3 .prefix > img {
  height: 22px;
  width: auto;
}
.payment-form-vmc4 .step-3 .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-form-vmc4 .step-3 .card-info .card-date {
  margin-top: 6px;
}
.payment-form-vmc4 .step-3 .card-info .card-date .select.variant-1:nth-child(1) {
  margin-right: 5px;
  width: 50%;
}
.payment-form-vmc4 .step-3 .card-info .card-date .select.variant-1:nth-child(2) {
  margin-right: 20px;
  width: 50%;
}
.payment-form-vmc4 .step-3 .card-info .card-date .card-cvv {
  width: 30%;
}
.payment-form-vmc4 .step-3 .card-info .card-date .card-cvv .input-container .label {
  margin-bottom: 0;
}
.payment-form-vmc4 .step-3 .el-input__inner {
  background: #ffffff;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
}
.payment-form-vmc4 .step-3 #payment-error {
  margin: 16px 0 0px;
}
.payment-form-vmc4 .cursor-pointer:hover {
  cursor: pointer;
}
.payment-form-vmc4 .buttons button:not(.back-btn),
.payment-form-vmc4 .submit-btn {
  width: 100%;
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 18px 30px;
  margin: 10px 1px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
  background-color: #4caf50;
  color: #fff;
}
.payment-form-vmc4 .buttons button:not(.back-btn).btn-active,
.payment-form-vmc4 .submit-btn.btn-active {
  cursor: pointer;
}
.payment-form-vmc4 .buttons button:not(.back-btn).btn-active:hover,
.payment-form-vmc4 .submit-btn.btn-active:hover {
  opacity: 1;
  transition: box-shadow 0.5s, background 0.5s ease;
  box-shadow: -2px 2px 18px #4caf50;
  -moz-box-shadow: -2px 2px 18px #4caf50;
  -webkit-box-shadow: -2px 2px 18px #4caf50;
}
.payment-form-vmc4 .buttons button:not(.back-btn) .spinner,
.payment-form-vmc4 .submit-btn .spinner {
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
  transform: scale(0.6);
  z-index: 0;
}
.payment-form-vmc4 .buttons button:not(.back-btn) .btn-disabled,
.payment-form-vmc4 .submit-btn .btn-disabled {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.payment-form-vmc4 .buttons button.paypal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc438;
  border: 3px solid #feae01;
  color: #000000;
  font-weight: 700;
}
.payment-form-vmc4 .buttons button.paypal-btn > img {
  margin-left: 5px;
}
.payment-form-vmc4 .buttons button.paypal-btn:hover {
  box-shadow: -2px 2px 18px #feae01;
}
.payment-form-vmc4 .form-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-form-vmc4 .form-navigation .back-btn {
  width: 50%;
  outline: none;
  border: none;
  position: relative;
  padding: 18px 30px;
  margin: 10px 1px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  color: #337ABE;
}
.payment-form-vmc4 .deal-popup .el-dialog {
  width: 600px;
  max-width: 100%;
}
.payment-form-vmc4 .deal-popup .green-button-animated {
  display: table;
  width: auto;
  height: 67px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
}@charset "UTF-8";
.paypal-button-container {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.paypal-button-container #paypal-button {
  height: 55px;
  overflow: hidden;
}
.paypal-button-container .paypal-shim {
  align-items: center;
  background-color: #ffc438;
  background-image: linear-gradient(#fff0a8, #f9b421);
  border: 1px solid #feae01;
  border-radius: 5px;
  display: flex;
  height: 55px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}
.paypal-button-container .paypal-shim.active {
  pointer-events: none;
}
.paypal-button-container .paypal-shim:before {
  opacity: 0;
  font-family: FontAwesome !important;
  content: "\F054";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 50% 50% 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s linear 0s;
}
.paypal-button-container .paypal-shim .title {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
}
.paypal-button-container .paypal-shim .image {
  margin-left: 10px;
  margin-top: -2px;
  max-width: 90px;
}
.paypal-button-container .paypal-shim .disabled {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.paypal-button-container:hover .paypal-shim.active {
  background-image: linear-gradient(#f9b421, #fff0a8);
}
.paypal-button-container:hover .paypal-shim.active:before {
  opacity: 1;
  width: 30px;
}
@media screen and (min-width: 768px) and (max-width: 991px), (max-width: 420px) {
.tpl-emc1 .paypal-shim {
    flex-direction: column;
}
.tpl-emc1 .paypal-shim .image {
    margin: 0;
}
}
@media screen and (min-width: 576px) and (max-width: 800px), (max-width: 460px) {
.tpl-vmc4 .paypal-shim {
    flex-direction: column;
}
.tpl-vmc4 .paypal-shim .image {
    margin: 0;
}
}@-webkit-keyframes draw-check {
0% {
    stroke-dasharray: 49, 80;
    stroke-dashoffset: 48;
    opacity: 0;
}
50% {
    stroke-dasharray: 49, 80;
    stroke-dashoffset: 48;
    opacity: 1;
}
100% {
    stroke-dasharray: 130, 80;
    stroke-dashoffset: 48;
}
}
@keyframes draw-check {
0% {
    stroke-dasharray: 49, 80;
    stroke-dashoffset: 48;
    opacity: 0;
}
50% {
    stroke-dasharray: 49, 80;
    stroke-dashoffset: 48;
    opacity: 1;
}
100% {
    stroke-dasharray: 130, 80;
    stroke-dashoffset: 48;
}
}
@-webkit-keyframes draw-circle {
0% {
    stroke-dasharray: 0, 330;
    stroke-dashoffset: 0;
    opacity: 1;
}
80% {
    stroke-dasharray: 330, 330;
    stroke-dashoffset: 0;
    opacity: 1;
}
100% {
    opacity: 0.4;
}
}
@keyframes draw-circle {
0% {
    stroke-dasharray: 0, 330;
    stroke-dashoffset: 0;
    opacity: 1;
}
80% {
    stroke-dasharray: 330, 330;
    stroke-dashoffset: 0;
    opacity: 1;
}
100% {
    opacity: 0.4;
}
}
#svg-box {
  display: block;
  position: relative;
  width: 150px;
  margin: 0 auto;
}
#svg-box svg {
  stroke: #7cb342;
}
#svg-box circle {
  stroke-dasharray: 330;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  opacity: 0.4;
  -webkit-animation: 0.7s draw-circle ease-out;
          animation: 0.7s draw-circle ease-out;
}
#svg-box .checkmark {
  stroke-width: 6.25;
  stroke-linecap: round;
  position: absolute;
  top: 56px;
  left: 49px;
  width: 52px;
  height: 40px;
}
#svg-box .checkmark__check {
  -webkit-animation: 1s draw-check ease-out;
          animation: 1s draw-check ease-out;
}.full-background-white {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #f3f3f3;
}
.full-background-white__container {
  width: 680px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 40px;
  max-width: 100%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 15px;
}
.full-background-white__container .country-image {
  width: 100%;
  max-width: 128px;
  max-height: 128px;
}
.full-background-white__container #svg-box svg {
  max-width: 100%;
}
.full-background-white__container h3 {
  text-align: center;
  font-size: 24px;
  color: #333;
}
.full-background-white__container img {
  margin: auto;
}
.full-background-white .el-progress-bar__inner {
  display: flex;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  background-color: #337ab7;
  transition: width 0.08s ease;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.full-background-white .el-progress-bar__innerText {
  margin: auto;
  font-weight: bold;
  font-size: 16px;
}.upsells-item {
  display: flex;
}
.upsells-item__image {
  max-width: 170px;
  padding: 7px;
}
.upsells-item__image img {
  width: 100%;
  height: auto;
}
.upsells-item__content {
  flex-grow: 1;
}
.upsells-item__content .benefit-list {
  list-style-type: none;
  padding: 0;
}
.upsells-item__content .benefit-list li {
  margin-bottom: 5px;
}
.upsells-item__remove-block {
  display: flex;
  align-items: flex-end;
}
.upsells-item__remove-block > button {
  padding: 8px;
}
.upsells-item.main h5 {
  font-weight: 400;
  font-size: 25px;
  margin-top: 10px;
}
.upsells-item.is-accessory .upsells-item__content h5 {
  margin-top: 8px;
}
.upsells-item.is-accessory .upsells-item__content .benefit-list li:first-child {
  font-size: 19px;
}.step-1 .congrats {
  color: #d4513a;
}
.step-1 h3 {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
}.step-3 h3 {
  color: #d4513a;
  margin-bottom: 0;
  text-align: center;
}
.step-3 h5 {
  text-transform: uppercase;
}
.step-3 .price {
  color: #0d840d;
}
.step-3 .content-with-image {
  position: relative;
}
.step-3 .content-with-image img {
  width: 100%;
  height: auto;
}
.step-3 .content-with-image .text-container {
  width: 100%;
  height: 100%;
}
.step-3 .content-with-image .text-container > h2 {
  font-size: 24px;
}
.step-3 .content-with-image .text-container .right {
  text-align: right;
  padding-bottom: 10px;
}
.step-3 .content-with-image .text-container .right img {
  width: 50%;
}
.step-3 .upsells-component__bot {
  flex-direction: column;
  align-items: center;
}
.step-3 .upsells-component__bot > .green-button-animated {
  width: 80%;
  max-width: 100%;
}
.step-3 .upsells-component__bot > .select {
  width: 40%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
.step-3 .content-with-image .last {
    font-size: 15px;
}
.step-3 .content-with-image h2 {
    margin: 0;
    font-size: 18px;
}
.step-3 .upsells-component__bot > .select {
    width: 100%;
}
.step-3 .upsells-component__bot > .green-button-animated {
    width: 100%;
}
.step-3 .upsells-component__bot i {
    font-size: 14px;
}
}.upsells-component {
  background-color: #fff;
  border: 1px solid #dadada;
}
.upsells-component__top {
  display: flex;
  background-color: #dadada;
}
.upsells-component__step {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: calc(100% / 3);
  text-transform: uppercase;
  color: #a5a5a6;
}
.upsells-component__step.active {
  background-color: #272727;
  color: #fff;
}
.upsells-component__content {
  padding: 40px 80px;
}
.upsells-component__content .green-up {
  color: #0d840d;
}
.upsells-component__content h4 {
  font-size: 20px;
  text-align: center;
}
.upsells-component__content h4 .congrats {
  color: #d4513a;
}
.upsells-component__content h5 {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}
.upsells-component__item {
  display: flex;
}
.upsells-component__item .benefits {
  list-style-type: none;
  width: 60%;
  font-size: 20px;
  flex-grow: 1;
}
.upsells-component__item .benefits li {
  margin-bottom: 2px;
}
.upsells-component__item .image {
  max-width: 300px;
}
.upsells-component__item .image img {
  max-width: 150px;
  width: 100%;
  height: auto;
}
.upsells-component__bot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.upsells-component__bot .green-button-animated {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.upsells-component .no {
  margin-top: 20px;
  text-align: center;
}
.upsells-component .no a {
  cursor: pointer;
  text-decoration: none;
  color: #3f75b5;
}
.upsells-component__finish {
  padding: 15px;
}
.upsells-component__finish .original-order {
  text-align: left;
  margin-bottom: 0;
}
.upsells-component__finish .upsells-item {
  margin-bottom: 15px;
}
.upsells-component__finish .total-price {
  text-align: right;
  margin: 30px 0;
}
.upsells-component__finish .buy-block {
  display: flex;
  justify-content: center;
}
.upsells-component__finish .buy-block .buy-button {
  height: 60px;
  width: 100%;
  max-width: 780px;
}
.upsells-component #payment-error {
  font-size: 17px;
  text-align: center;
}
.upsells-component .submit-button {
  margin-left: auto;
  margin-right: auto;
  max-width: 670px;
}
.upsells-component .submit-button.green-button-animated {
  font-size: 26px;
  height: 79px;
}
@media screen and (max-width: 992px) {
.upsells-component__bot {
    flex-direction: column;
    align-items: center;
}
.upsells-component__step {
    display: none;
}
.upsells-component__step.active {
    display: flex;
}
.upsells-component__content {
    padding: 5px;
}
}@charset "UTF-8";
.green-button-animated {
  bottom: 0;
  box-shadow: #b4b5b5 2px 2px 2px 0;
  color: white;
  height: auto;
  position: relative;
  display: block;
  -webkit-text-decoration: none solid white;
          text-decoration: none solid white;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  top: 0;
  width: 100%;
  -moz-column-rule-color: white;
       column-rule-color: white;
  perspective-origin: 195.688px 46px;
  transform-origin: 195.695px 46px;
  caret-color: white;
  background: #ff2f21 linear-gradient(#0f9b0f, #0d840d) repeat scroll 0% 0%/auto padding-box border-box;
  border: 1px solid #0f9b0f;
  border-radius: 3px 3px 3px 3px;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  margin: 0 0 15px;
  outline: white none 0;
  padding: 20px;
  transition: all 0.2s linear 0s;
}
.green-button-animated.green-button-active {
  cursor: pointer;
}
.green-button-animated:before {
  opacity: 0;
  font-family: FontAwesome !important;
  content: "\F054";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 50% 50% 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s linear 0s;
}
.green-button-animated.green-button-active:hover {
  background-image: linear-gradient(to bottom, #6d4 0, #3d6c04 100%);
}
.green-button-animated.green-button-active:hover:before {
  opacity: 1;
  width: 30px;
}
.green-button-animated:after {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0;
  text-transform: capitalize;
  -moz-column-rule-color: white;
       column-rule-color: white;
  caret-color: white;
  border: 0 none white;
  font: normal normal 700 normal 18px/25.7143px "Noto Sans", sans-serif;
  outline: white none 0;
}
.green-button-animated .green-button-disabled {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.green-button-animated .checkmark {
  margin-top: -9px;
  top: 50%;
}
.green-button-animated .spinner {
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
  z-index: 0;
}.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.5);
}
.modal {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(214, 214, 214, 0.4);
}
.modal_xl {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal_xl .modal-body {
  flex: 1 1 100%;
}
.modal-header {
  position: relative;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
  color: #000000;
}
.modal-title {
  margin: 0;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  cursor: pointer;
  transition: opacity 0.3s;
}
.modal-close:hover, .modal-close:focus, .modal-close:active {
  opacity: 0.7;
}
.modal-footer {
  padding: 20px;
  border-top: 1px solid #ccc;
}