$size1: 768px;

@import '../../checkout';
@import './amc8/regions/header-region';
@import './amc8/regions/footer-region';
@import './amc8/main-content';
@import './amc8/form-elements';
@import './amc8/reviews';
@import './amc8/yellow-line';
@import './amc8/left-column/users-online';
@import './amc8/left-column/step1-title';
@import './amc8/left-column/deals';
@import './amc8/left-column/step2-title';
@import './amc8/left-column/summary';
@import './amc8/right-column/step3-title';
@import './amc8/right-column/step4-title';
@import './amc8/right-column/step5-title';
@import './amc8/right-column/step6-title';
@import './amc8/right-column/guarantee';
@import './amc8/question';


.amc8 {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 1.467;

  input,
  select,
  textarea {
    color: #000;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 1.15;
  }

  a {
    color: #29af5c;
    text-decoration: none;

    &:hover, &:focus {
      color: #29af5c;
      text-decoration: underline;
    }
  }
}

.container {
  flex-direction: column;
  max-width: 970px;

  @media (min-width: $size1) {
    flex-direction: row;
  }
}
