$size1: 768px;
$size2: 992px;

@import '../../checkout';
@import './amc81/regions/header-region';
@import './amc81/regions/footer-region';
@import './amc81/header-before';
@import './amc81/header-after';
@import './amc81/main-content';
@import './amc81/form-elements';
@import './amc81/left-column/users-online';
@import './amc81/left-column/step1-title';
@import './amc81/right-column/step3-title';


.amc81 {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 1.467;

  input,
  select,
  textarea {
    color: #000;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    line-height: 1.15;
  }

  a {
    color: #29af5c;
    text-decoration: none;

    &:hover, &:focus {
      color: #29af5c;
      text-decoration: underline;
    }
  }
}
