$size0: 480px;
$size1: 768px;
$size2: 992px;
$size3: 1200px;

@import '../../checkout';


.slimeazy {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;

  input,
  select,  textarea {
    color: #333;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
  }

  a {
    color: #337ab7;
    text-decoration: none;

    &:hover, &:focus {
      color: #23527c;
      text-decoration: underline;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding: 0;

  @media (min-width: $size1) {
    max-width: 750px;
  }

  @media (min-width: $size2) {
    max-width: 970px;
  }

  @media (min-width: $size3) {
    max-width: 1170px;
  }
}

.header-region {
  height: auto;
  padding: 10px 0;

  .container {
    flex-direction: column;

    @media (min-width: $size1) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.header-logo-link {
  align-items: center;
  margin: 12px 0 0;
  padding: 0 15px;

  @media (min-width: $size1) {
    margin-top: 0;
  }
}

.header-logo {
  height: auto;
  max-width: 100%;
}

.header-images {
  align-items: center;
  display: flex;
  margin-top: 18px;
  padding: 0 15px;

  @media (min-width: $size1) {
    margin-left: auto;
    margin-top: 0;
  }

  img {
    @media (min-width: $size1) {
      margin-left: 15px;
    }

    @media (min-width: $size2) {
      margin-left: 28px;
    }
  }
}

.footer-region {
  background-color: #1771b7;
  padding: 15px 15px;
}

.footer__row-item {
  margin: 0;
}

.footer__link {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 20px;

  @media (min-width: $size2) {
    font-size: 16px;
  }
}

.footer__row-item + .footer__row-item {
  &:before {
    display: none;
  }

  @media (min-width: $size1) {
    border-left: 1px solid #fff;
  }
}

.footer-company-address {
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
  padding: 0;

  @media (min-width: $size2) {
    font-size: 16px;
  }
}

.section-back {
  background-image: linear-gradient(rgb(223, 248, 238) 0%, rgb(138, 211, 181) 100%);
}

.section-cover {
  background-size: cover!important;
}

.section1 {
  height: 705px;
}

.section2 {
  height: 662px;
}

.section3 {
  height: 754px;
}

.section4 {
  height: 478px;
}

.section5 {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 48px;

  @media (min-width: $size1) {
    padding-top: 42px;
    padding-bottom: 28px;
  }

  @media (min-width: $size2) {
    padding-bottom: 32px;
  }

  @media (min-width: $size3) {
    padding-bottom: 45px;
  }

  .row1 {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media (min-width: $size1) {
      flex-direction: row;
    }
  }

  .row2 {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    @media (min-width: $size1) {
      flex-direction: row;
      padding: 0;
    }

    .left {
      display: flex;
      flex-direction: column;
      
      @media (min-width: $size1) {
        width: 66.66%;
      }

      .subrow {
        display: flex;
        flex-direction: column;

        @media (min-width: $size1) {
          flex-direction: row;
        }

        .subleft {
          align-self: center;
          display: flex;
          flex-direction: column;
          margin-top: 28px;
          max-width: 70%;

          @media (min-width: $size1) {
            align-self: stretch;
            margin-top: 26px;
            max-width: 100%;
            padding: 0 15px;
            width: 50%;
          }

          @media (min-width: $size2) {
            margin-top: 28px;
          }

          .image {
            align-self: center;
            max-width: 100%;

            @media (min-width: $size1) {
              align-self: flex-start;
              max-width: 88%;
            }

            @media (min-width: $size2) {
              max-width: 90%;
            }
          }
        }

        .subright {
          display: flex;
          flex-direction: column;

          @media (min-width: $size1) {
            padding: 0 15px;
            width: 50%;
          }

          .line1 {
            color: #1771b7;
            font-family: 'Oswald', sans-serif;
            font-size: 48px;
            line-height: 1.1;
            margin-top: 34px;
            text-align: center;
            text-transform: uppercase;
            -webkit-text-stroke: 1px white;

            @media (min-width: $size1) {
              font-size: 42px;
              margin-top: 26px;
              text-align: unset;
            }

            @media (min-width: $size2) {
              font-size: 54px;
              margin-top: 34px;
            }

            @media (min-width: $size3) {
              font-size: 72px;
            }
          }

          .line2 {
            color: #fff;
            font-family: 'Oswald', sans-serif;
            font-size: 62px;
            line-height: 1.1;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            -webkit-text-stroke: 2px #1771b7;

            @media (min-width: $size1) {
              font-size: 27px;
              margin-bottom: 12px;
              text-align: unset;
            }

            @media (min-width: $size2) {
              font-size: 34px;
              margin-bottom: 20px;
            }

            @media (min-width: $size3) {
              font-size: 46px;
            }
          }

          .options {
            display: flex;
            flex-direction: column;

            .option {
              align-items: center;
              background: #1771b7;
              color: #fff;
              display: flex;
              font-family: 'Oswald', sans-serif;
              font-size: 18px;
              margin: 0 0 10px;
              padding: 10px 8px;

              &:nth-child(even) {
                background-color: #579a2f;
              }

              @media (min-width: $size1) {
                font-size: 16px;
                padding: 5px;
              }

              @media (min-width: $size2) {
                font-size: 20px;
                padding: 10px;
              }

              @media (min-width: $size3) {
                font-size: 24px;
                padding: 10px 15px;
              }

              img {
                align-self: flex-start;
                margin-right: 14px;
                margin-top: 3px;

                @media (min-width: $size1) {
                  margin-right: 4px;
                  margin-top: 5px;
                  max-width: 14px;
                }

                @media (min-width: $size2) {
                  margin-right: 5px;
                  max-width: 100%;
                }

                @media (min-width: $size3) {
                  margin-top: 9px;
                  margin-right: 15px;
                }
              }
            }
          }
        }
      }

      .shipping {
        display: flex;
        flex-direction: column;
        position: relative;

        @media (min-width: $size1) {
          margin-top: -29px;
        }

        @media (min-width: $size2) {
          margin-top: -38px;
        }

        @media (min-width: $size3) {
          margin-top: -58px;
        }

        .image {
          align-self: center;
          max-width: 100%;
          width: 400px;

          @media (min-width: $size1) {
            align-self: flex-start;
            width: auto;
          }
        }

        .label {
          align-items: center;
          bottom: 0;
          color: #000;
          display: flex;
          font-family: 'Oswald', sans-serif;
          font-size: 17px;
          font-weight: 500;
          justify-content: center;
          left: 0;
          line-height: 1.1;
          position: absolute;
          right: 0;
          text-align: center;
          text-shadow: 0px 0px 8px #fff;
          text-transform: uppercase;
          top: 6px;

          @media (min-width: $size0) {
            font-size: 20px;
            top: 4px;
          }

          @media (min-width: $size1) {
            font-size: 26px;
            top: 8px;
          }

          @media (min-width: $size2) {
            font-size: 36px;
            top: 6px;
          }

          @media (min-width: $size3) {
            font-size: 44px;
            top: 8px;
          }
        }
      }
    }

    .right {
      align-self: center;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      max-width: 70%;

      @media (min-width: $size1) {
        align-self: stretch;
        max-width: 100%;
        padding: 0 15px;
        width: 33.33%;
      }

      @media (min-width: $size3) {
        margin-top: 72px;
      }

      .image {
        align-self: center;
        max-width: 100%;
      }

      .button {
        background-color: #579a2f;
        border-radius: 10px;
        box-shadow: -1px 1px 6px 0px #000;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin-top: 36px;
        padding: 8px 10px;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px 1px 3px #000;
        text-transform: uppercase;

        @media (min-width: $size2) {
          font-size: 22px;
        }

        @media (min-width: $size2) {
          font-size: 30px;
          margin-top: 64px;
        }

        @media (min-width: $size3) {
          font-size: 40px;
          margin-top: 36px;
        }
      }
    }
  }
}
