$size0: 480px;
$size1: 768px;
$size2: 992px;
$size3: 1200px;

@import '../../checkout';


.slimeazy {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;

  input,
  select,  textarea {
    color: #333;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
  }

  a {
    color: #337ab7;
    text-decoration: none;

    &:hover, &:focus {
      color: #23527c;
      text-decoration: underline;
    }
  }

  @import './slimeazy/step1';
  @import './slimeazy/step2';
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding: 0;

  @media (min-width: $size1) {
    max-width: 750px;
  }

  @media (min-width: $size2) {
    max-width: 970px;
  }

  @media (min-width: $size3) {
    max-width: 1170px;
  }
}

.header-region {
  height: auto;
  padding: 10px 0;

  .container {
    flex-direction: column;

    @media (min-width: $size1) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.header-logo-link {
  align-items: center;
  margin: 12px 0 0;
  padding: 0 15px;

  @media (min-width: $size1) {
    margin-top: 0;
  }
}

.header-logo {
  height: auto;
  max-height: 48px;
  max-width: 100%;
}

.header-images {
  align-items: center;
  display: flex;
  margin-top: 18px;
  padding: 0 15px;

  @media (min-width: $size1) {
    margin-left: auto;
    margin-top: 0;
  }

  img {
    @media (min-width: $size1) {
      margin-left: 15px;
    }

    @media (min-width: $size2) {
      margin-left: 28px;
    }
  }
}

.footer-region {
  background-color: #1771b7;
  padding: 15px 15px;
}

.footer__row-item {
  margin: 0;
}

.footer__link {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin: 10px 20px;

  @media (min-width: $size2) {
    font-size: 16px;
  }
}

.footer__row-item + .footer__row-item {
  &:before {
    display: none;
  }

  @media (min-width: $size1) {
    border-left: 1px solid #fff;
  }
}

.footer-company-address {
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
  padding: 0;

  @media (min-width: $size2) {
    font-size: 16px;
  }
}

.section-back {
  background-image: linear-gradient(rgb(223, 248, 238) 0%, rgb(138, 211, 181) 100%);
}

.section-cover {
  background-size: cover!important;
}
