.credit-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.credit-card-item {
  display: flex;
  flex-direction: column;
  margin: 4px;

  img {
    max-width: 56px;
  }
}
