.providers {
  display: flex;
  flex-direction: column;

  .badge {
    display: flex;
    flex-direction: column;

    .title {
      background-color: #d54c27;
      color: #fff;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-style: italic;
      font-weight: 700;
      padding: 13px 12px 8px;
      text-align: center;
    }

    .triangle {
      overflow: hidden;
      padding-left: 50%;
      padding-top: 15px;

      div {
        border-left: 500px solid transparent;
        border-right: 500px solid transparent;
        border-top: 36px solid #d54c27;
        margin-left: -500px;
        margin-top: -36px;
      }
    }

    &.checkout .title {
      padding: 16px 12px 8px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin: 21px 24px 0;

    .or {
      align-items: center;
      color: #000;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 700;
      margin: 10px 0 13px;
    }
  }

  .paypal-button-shim {
    flex-direction: column;
  }

  .paypal-payment-error {
    margin-top: 8px;
  }
}
