.yes-deliver {
  align-items: center;
  display: flex;

  @media only screen and (min-width: $size2) {
    margin: 17px 25px 0;
  }

  .img-check {
    margin-top: -8px;

    @media only screen and (min-width: $size1) {
      margin-top: -4px;
    }

    @media only screen and (min-width: $size2) {
      margin-top: -4px;
    }
  }

  .yes {
    color: #ed1c25;
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-left: -10px;
    margin-right: 10px;
    text-transform: uppercase;

    [dir="rtl"] & {
      margin-left: 10px;
      margin-right: -10px;
    }

    @media only screen and (min-width: $size1) {
      font-size: 64px;
      margin-left: -5px;
      margin-right: 10px;

      [dir="rtl"] & {
        margin-left: 10px;
        margin-right: -5px;
      }
    }

    @media only screen and (min-width: $size2) {
      margin-left: -5px;
      margin-right: 20px;

      [dir="rtl"] & {
        margin-left: 20px;
        margin-right: -5px;
      }
    }
  }

  .deliver {
    font-size: 13px;
    font-weight: bold;

    @media only screen and (min-width: $size2) {
      font-size: 20px;
    }
  }
}
