.deals {
  display: flex;
  flex-direction: column;

  .deal {
    align-items: center;
    border: 1px solid #858585;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-top: 15px;
    padding: 25px 15px;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &.selected {
      background-color: #e9f4ff;
      border-color: #36a1f9;
      box-shadow: -1px 2px 4px 1px rgba(0,0,11,.1);
    }

    &.sellout {
      cursor: default;
    }
  }

  .deal-sellout {
    background-color: rgba(255,255,255,.8);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .deal-radio {
    border-color: #2e98f8;

    > div {
      background-color: #2e98f8;
      height: 10px;
      width: 10px;
    }
  }

  .deal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 12px;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 12px;
    }
  }

  .deal-label {
    color: #29af5c;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1875;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .deal-line {
    color: #29af5c;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1875;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .deal-prices {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .deal-discount-name {
    align-items: center;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .deal-discount-star {
    margin-right: 3px;
    margin-top: -2px;
    width: 10px;

    [dir="rtl"] & {
      margin-left: 3px;
      margin-right: 0;
    }
  }

  .deal-bestseller,
  .deal-popular {
    text-transform: capitalize;
  }

  .deal-old-price {
    color: #e74c3c;
    display: flex;
    font-size: 16px;
    line-height: 1.1875;
  }

  .deal-old-price-reg {
    text-transform: uppercase;
  }

  .deal-old-price-value {
    text-decoration: line-through;
  }

  .deal-new-price {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1875;
  }
}
