.support-toolbar {
  background-color: #248cc8;
  transition: height .3s ease;
  font-size: 17px;

  @media screen and (max-width: 767px) {
    & {
      font-size: 15px;
    }
  }

  a {
    color: #fff!important;
    text-decoration: underline!important;
  }
}
