.leave-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;

  > .inside {
    background-color: #ff0;
    border: 3px solid red;
    color: #212529;
    display: flex;
    flex-direction: column;
    font-family: Arial,'Noto Sans',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    justify-content: space-between;
    line-height: 1.5;
    margin: 0 10px;
    max-width: 500px;
    padding: 1rem;
    text-align: center;
    width: 100%;

    @media (min-width: 1024px) {
      max-width: 800px;
      padding: 1.5rem;
    }
  }

  .line1 {
    color: red;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media only screen and (min-width: 1024px) {
      font-size: 58px;
    }
  }

  .line2 {
    color: red;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;

    @media only screen and (min-width: 1024px) {
      font-size: 35px;
    }
  }

  .line3 {
    margin-bottom: 1rem;
  }

  .line4 {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;

    @media only screen and (min-width: 1024px) {
      font-size: 26px;
    }
  }

  .button {
    background-color: #0ca600;
    border-color: #0ca600;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;
    padding: .5rem 1rem;
    transition: all .15s ease-in-out;
    width: 100%;

    &:hover {
      background-color: #098000;
      border-color: #087300;
    }

    @media only screen and (min-width: 1024px) {
      font-size: 30px;
    }
  }

  .link {
    color: #000;
    cursor: pointer;
    padding: .5rem 0;
    text-decoration: underline;
  }
}
