@import '../variables';

body {
  background-color: #fff;
}

header {
  box-shadow: none;
  width: 100%;
  transition: all .1s ease-in-out;
}

.promo {
  $self: &;
  font-size: 15px;

  &__title {
    text-align: center;
    margin: 15px 0 35px;
    font-size: 38px;

    @media screen and ($l-down) {
      font-size: 27px;
    }
  }

  &__header-products {
    font-size: 24px;
  }

  &__jumbotron {
    cursor: pointer;
    border: 5px dashed red;
    max-width: 1100px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }

  &__text-red {
    color: red;
  }

  &__heading-battery {
    font-size: 38px;
    margin: 0 0 10px;
  }

  &__offer {
    text-transform: uppercase;
    margin: 15px 0;
  }

  &__go-to-selector {
    text-decoration: none;
    color: red;
  }

  &__installments {
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
  }

  &__discount-text {
    margin: 10px 0;
    display: block;
  }

  &__discount-image {
    max-width: 100%;
    margin: auto 0;
    @media screen and ($s-down) {
      max-width: 30%;
      margin-top: 30px;
    }
  }

  &__price {
    font-size: 24px;

    &--double {
      font-size: 18px;
      text-decoration: line-through;
      color: rgba(193, 193, 193, 255);
      margin-bottom: 6px;
    }
  }

  &__subtitle {
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin: 20px auto 20px;
  }

  &__card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__products-row {
    
  }

  &__card {
    display: flex;
	  flex-direction: column;
    max-width: 360px;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 2px 15px -5px rgba(0, 0, 0, 0.49);
    text-align: center;
    transition: 0.2s all;
    cursor: pointer;
    font-size: 16px;
    padding: 0 25px 10px;
    margin-bottom: 20px;
  }

  .selected-promotion {
    .product-info {
      margin: 20px;

      @media screen and ($s-down) {
        margin: 0;
      }
    }
  }

  &__product-info {
    padding: 0 15px;
  }

  &__add-button {
    margin: 0 -15px 15px!important;
    width: auto!important;
  }

  &__product-info-wrapper {
    padding: 25px 0;

    @media screen and ($s-down) {
      padding-left: 10px;
    }
  }

  &__card {
    &.starter:hover,
    &.starter.selected-promotion {
      border: 3px solid $blue;
    }

    &.most-profitable:hover,
    &.most-profitable.selected-promotion {
      border: 3px solid $orange;
    }

    &.most-popular {
      #{ $self }__product-info-wrapper {
        @media screen and ($s-down) {
          padding: 0;
        }
      }
    }

    &.most-popular:hover,
    &.most-popular.selected-promotion {
      border: 3px solid $green;
    }
  }

  .promo__add-button.disabled {
    opacity: .5;
    cursor: not-allowed;
    &:hover {
      background: #ff2f21 linear-gradient(#0f9b0f, #0d840d) repeat scroll 0% 0%/auto padding-box border-box;
      &:before {
        opacity: 0;
      }
    }
  }

  &__heading {
    max-width: 158px;
    display: flex;
    justify-content: center;
    transform: skewX(20deg);
    background-color: $blue;
    color: white;
    white-space: nowrap;
    align-self: center;
    margin-bottom: 10px;
    padding: 0 16px;

    &.most-profitable {
      background-color: $orange;
    }

    &.most-popular {
      background-color: $green;
    }

    & strong {
      font-size: 16px;
      font-weight: 600;
      transform: skewX(-20deg);
    }
  }

  &__discount {
    margin: 0 auto;
    padding: 8px 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
  }

  &__fifty-discount {
    font-size: 19px;
    margin: 2px;
  }

  &__add-button.green-button-animated {
    padding: 14px;
    height: auto;
    text-transform: uppercase;
  }

  &__reviews {
    margin: 80px 0;
  }

  &__review {
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:nth-child(odd) {
      flex-direction: row-reverse;

      @media screen and ($m-down) {
        flex-direction: column;
      }

      & .review-head {
        align-items: flex-end;
      }

      & .review-text {
        text-align: right;

        [dir="rtl"] & {
          text-align: left;
        }
      }
    }

    & .review-head {
      align-items: flex-start;
    }

    & .review-text {
      text-align: left;

      [dir="rtl"] & {
        text-align: right;
      }
    }

    @media screen and ($m-down) {
      .section-text {
        text-align: center
      }

      & {
        width: 100%;
        flex-direction: column;
      }
    }
  }

  .review-head {
    display: flex;
    flex-direction: column;
  }

  &__review-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    .wrapper {
      display: flex;
      overflow: hidden;
      max-width: 100%;
      max-height: 100%;

      img {
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }

  &__review .stars .fa {
    color: #fbd401;
    font-size: 26px;
  }

  &__review-title {
    font-size: 19px;
    font-weight: bold;
    color: black;
    background: transparent;
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 20px;
  }

  &__people-rate {
    padding-bottom: 30px;
    text-align: center;
  }


  &__people-rate-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__scroll-to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: rgb(226, 241, 243);
    padding: 30px 0 50px;

    .green-button-animated {
      max-width: 430px;
    }
  }

  &__paypal-button-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__select-variant {
    background-color: $green;
    padding: 20px 0;
    font-size: 28px;
    color: white;
    margin-top: 24px;
    text-align: center;
  }

  &__select-variant-wrapper {
    padding-top: 35px;
  }

  &__carousel-img {
    width: 100%;
    height: 75px;
    object-fit: contain;
  }

  &__carousel {
    margin: 10px 0;
  }

  &__choose-product {
    padding: 30px 0;
    background-color: $body-bg;
    text-align: center;
  }

  &__product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    @media screen and ($s-down) {
      flex-direction: row;
    }
  }

  &__choose-product-item {
    cursor: pointer;
    width: auto;
    min-height: 210px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;

    @media screen and ($m-down) {
      width: 100%;
    }

    .color {
      display: flex;
      justify-content: center;
    }

    .choose-color {
      text-align: center;
      padding-bottom: 8px;
    }

    .selected-variant {
      & .variant-name {
        border-bottom: 1px solid $red;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  &__choose-product-item-color {
    width: 200px;
    padding-top: 0;
    text-align: center;

    @media screen and ($m-down) {
      width: auto;
    }

    &.selected-variant {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__variant-item {
    padding: 40px 0;
    &:hover, &:focus, &:active {
      .promo__variant-icon {
        transform: scale(1.25);
      }
      .variant-name {
        font-weight: bold;
        border-bottom-color: #e3342f;
      }
    }
    @media screen and ($m-down) {
      margin: 10px 0;
      flex-basis: 50%;
    }
  }

  &__variant-icon {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
  }

  &__variant-icon-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    &.selected-variant {
      border: 2px solid $red;
    }
  }

  .variant-name {
    display: inline-block;
    padding: 3px 5px;
    border-bottom: 2px solid transparent;
    transition: all .3s;
  }

  &__step-title {
    font-size: 21px;
    font-weight: 700;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
  }

  &__complete-order {
    display: block;
    margin-bottom: 20px;
    padding: 20px 0 40px;
    background-color: white;
  }

  &__alternative-payment {
    margin: 10px;
    text-align: center;
  }

  &__row-payments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__credit-card-switcher {
    max-width: 460px;
  }

  &__form-wrapper {
    max-width: 555px;
    margin: 0 auto;
    padding: 0 10px;

    h2 {
      text-align: center;
    }

    .green-button-animated {
      padding: 10px;
      height: 92px;
    }
  }
}

.tpl-vmp41, .tpl-vmp42 {

  main.pt-4 {
    padding-top: 0!important;
  }

  #header {
    background-color: transparent;
    box-shadow: none;
  }

}

.tpl-vmp42 {

  &.slide-grey-back {
    background-color: #f8fafc;

    #header {
      background-color: #fff;
    }
  }

  .sticky-footer {
    display: none;
  }

  &.with-sticky-footer {
    footer {
      visibility: hidden;
    }

    .sticky-footer {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;

      footer {
        visibility: visible;
      }
    }
  }

  .promo {
    $self: &;
    &__wrapper {
      display: flex;
      align-items: flex-start;
      overflow: hidden;
    }
    &__step {
      flex: 0 0 100% ;
      padding: 0 0 30px 0;
      transition: all .3s;
      &__title {
        margin-top: 0;
      }
    }
    &__choose-product {
      padding-top: 0;
    }
    &__select-variant {
      margin-top: 0;
    }
    &__complete-order {
      padding: 0;
    }
    &__back-btn {
      display: block;
      background-color: transparent;
      border: none;
      margin: 30px auto 20px;
      text-decoration: underline;
      cursor: pointer;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }
  .fade-wrapper {
    max-height: 1000px;
    padding: 0 0 25px;
    transition: all .5s;
    &_empty {
      max-height: 0;
      padding: 0;
    }
    .promo__jumbotron {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to  {
    opacity: 0;
  }
}

.tpl-vmp41 .owl-carousel .owl-item {
  [dir="rtl"] & {
    float: right;
  }
}
